==
<div class="modal-dialog" role="document">
    <div class="modal-content" style="background: #F2F2F2;">
      <div class="modal-body">
      	<div class="wishlist-enquiry-title">
      	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      		<h4>Booking Enquiry</h4>
	       
      	</div>
        
        <div class="form-wishlist-enquiry">
        	<form>
        		<div class="row">
        			<div class="col-sm-6">
        				<div class="form-group">
		                    <input type="text" id="wishlist-enquiry-first-name" name="wishlist-enquiry-first-name" class="form-control" placeholder="First Name*">
		                </div>
        			</div>
        			<div class="col-sm-6">
        				<div class="form-group">
		                    <input type="text" id="wishlist-enquiry-last-name" name="wishlist-enquiry-last-name" class="form-control" placeholder="Last Name*">
		                </div>
        			</div>
        			<div class="col-sm-6">
        				<div class="form-group">
		                    <input type="text" id="wishlist-enquiry-email" name="wishlist-enquiry-email" class="form-control" placeholder="Email*">
		                </div>
        			</div>
        			<div class="col-sm-6">
        				<div class="form-group">
		                    <input type="text" id="wishlist-enquiry-phone" name="wishlist-enquiry-phone" class="form-control" placeholder="Phone">
		                </div>
        			</div>
        			<div class="col-sm-6">
        				<div class="form-group">
		                    <input type="text" id="wishlist-enquiry-date" name="wishlist-enquiry-date" class="form-control" placeholder="Dates">
		                    <!-- <img class="date-booking-enquiry" src="{{ 'assets/images/calendar-booking-enquiry.png'|theme }}" /> -->
		                </div>
        			</div>
        			<div class="col-sm-6">
        				<div class="form-group">
		                    <input type="text" id="wishlist-enquiry-guest" name="wishlist-enquiry-guest" class="form-control" placeholder="Guests">
		                    <!-- <img class="guest-booking-enquiry" src="{{ 'assets/images/User-booking-enquiry.png'|theme }}" /> -->
		                </div>
        			</div>
        			<div class="col-sm-12">
        				<div class="form-group">
		                    <textarea type="text" id="wishlist-enquiry-favourite" name="wishlist-enquiry-favourite" class="form-control" placeholder="Property name or region"></textarea>
		                </div>
        			</div>
        			<div class="col-sm-12">
        				<div class="form-group">
		                    <textarea class="form-control" id="wishlist-enquiry-help" name="wishlist-enquiry-help" placeholder="How can we help you?*"></textarea>
		                </div>
        			</div>
        			<div class="col-sm-12">
        				<div class="custom-control custom-checkbox  wishlist-enquiry-flexible">
			                  <input type="checkbox" class="custom-control-input" id="wishlist-enquiry-flexible" name="">
			                  <label class="custom-control-label" for="wishlist-enquiry-flexible">My dates are flexible</label>
			                </div>
			                <div class="custom-control custom-checkbox wishlist-enquiry-receive">
			                  <input type="checkbox" class="custom-control-input" id="wishlist-enquiry-receive" name="">
			                  <label class="custom-control-label" for="wishlist-enquiry-receive">Receive updates from View Retreats</label>
			                </div>
        			</div>
        			<div class="col-sm-12">
        				<button type="button" id="wishlist-enquiry-button">ENQUIRE</button>
        			</div>
        		</div>
        	</form>
        	
        </div>
      </div>
    </div>
  </div>