==
<div class="modal fade" id="reviewPoupModal" tabindex="-1" role="dialog" aria-labelledby="reservationDetailsModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
           <div class="modal-header">
               <button type="button" class="btn-back" id="back-login"></button>
                <h5 class="modal-title">Verified guest reviews</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">      	
             <div class="list-comment">
                <div class="item-comment">
                    <div class="box-info d-flex">
                        <h2>4.5</h2>
                        <div class="box-star">
                            <p class="mb-0">Excellent</p>
                            <div class="rate-star ">
        			  			<span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
        			  			<span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
        			  			<span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
        			  			<span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
        			  			<span class="item-star"><img src="{{ 'assets/images/star.png'|theme }}"></span>
        			  		</div>
                            
                        </div>
                    </div>
                    <h5>Verified traveller</h5>
                    <h6>16 Nov 2019</h6>
                    <p>Absolutly amazing place. Everything was absolute quality. The food was amazing. Absolutly will be back. Highly recomend to anyone thinking about staying.</p>
                </div>
                <div class="item-comment">
                    <div class="box-info d-flex">
                        <h2>4.2</h2>
                        <div class="box-star">
                            <p class="mb-0">Excellent</p>
                            <div class="rate-star ">
        			  			<span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
        			  			<span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
        			  			<span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
        			  			<span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
        			  			<span class="item-star"><img src="{{ 'assets/images/star.png'|theme }}"></span>
        			  		</div>
                            
                        </div>
                    </div>
                    <h5>Verified traveller</h5>
                    <h6>16 Nov 2019</h6>
                    <p>Absolutly amazing place. Everything was absolute quality. The food was amazing. Absolutly will be back. Highly recomend to anyone thinking about staying.</p>
                </div>
                <div class="item-comment">
                   <div class="box-info d-flex">
                        <h2>4.7</h2>
                        <div class="box-star">
                            <p class="mb-0">Excellent</p>
                            <div class="rate-star ">
        			  			<span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
        			  			<span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
        			  			<span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
        			  			<span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
        			  			<span class="item-star"><img src="{{ 'assets/images/star.png'|theme }}"></span>
        			  		</div>
                            
                        </div>
                    </div>
                    <h5>Verified traveller</h5>
                    <h6>16 Nov 2019</h6>
                    <p>Absolutly amazing place. Everything was absolute quality. The food was amazing. Absolutly will be back. Highly recomend to anyone thinking about staying.</p>
                </div>
                <div class="item-comment">
                    <div class="box-info d-flex">
                        <h2>4.2</h2>
                        <div class="box-star">
                            <p class="mb-0">Excellent</p>
                            <div class="rate-star ">
        			  			<span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
        			  			<span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
        			  			<span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
        			  			<span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
        			  			<span class="item-star"><img src="{{ 'assets/images/star.png'|theme }}"></span>
        			  		</div>
                            
                        </div>
                    </div>
                    <h5>Verified traveller</h5>
                    <h6>16 Nov 2019</h6>
                    <p>Absolutly amazing place. Everything was absolute quality. The food was amazing. Absolutly will be back. Highly recomend to anyone thinking about staying.</p>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>