description = "Search Layout"

[account]
paramCode = "code"
forceSecure = 0
requirePassword = 0

[sociallogin]

[session]
security = "all"

[bookmarkfavorite]
==
<?php
function onStart() {
//$regionLists = Db::table('expedia_expediaimport_regions')->select('region_name as id','region_name as text')->take(100)->get();

//$regionLists = Db::table('expedia_expediaimport_regions')->select('region_name')->orderBy('region_id', 'asc')->get();
$regionLists = Db::select("SELECT region_id, region_name, region_name_full FROM expedia_expediaimport_regions WHERE region_type <> 'point_of_interest' AND region_type <> 'train_station' AND region_type <> 'metro_station' ORDER BY field(region_type,'multi_city_vicinity','city','airport','continent','country','province_state','high_level_region','neighborhood','airport'), region_id");

$regionJson = Db::select("SELECT region_id, region_name, region_name_full FROM expedia_expediaimport_regions ORDER BY field(region_type,'country','province_state','high_level_region','multi_city_vicinity','city','neighborhood','airport','point_of_interest','train_station','metro_station'), region_id");

// use manual select OLD school!
//$regionLists = Db::select("SELECT region_id AS property_id, region_name AS name FROM expedia_expediaimport_regions UNION ALL SELECT property_id, name FROM expedia_expediaimport_properties ORDER BY name"); 

//$JsonRegions = $regionLists;
foreach ($regionJson as $key => $value) {
  $jsonRegionsArray[] = $value;
}
 

foreach ($regionLists as $regionList) {
         $RegionArray[] = $regionList->region_name_full;
}


$propertyLists = Db::select("SELECT expedia_expediaimport_properties.property_id, expedia_expediaimport_properties.name, expedia_expediaimport_properties.city, expedia_expediaimport_properties.state, expedia_expediaimport_properties.country_code,rainlab_location_countries.name AS country_name FROM expedia_expediaimport_properties JOIN rainlab_location_countries ON expedia_expediaimport_properties.country_code = rainlab_location_countries.code WHERE expedia_expediaimport_properties.active = 1 order by expedia_expediaimport_properties.rank");


foreach ($propertyLists as $propertyList) {
        $propertyName = $propertyList->name.", ".$propertyList->city.", ".$propertyList->state.", ".$propertyList->country_name;
        //$newpropertyName = strlen($propertyName) > 60 ? substr($propertyName,0,60)."..." : $propertyName;
        $PropertyArray[] = $propertyName;
}


//print_r($jsonRegionsArray);
//$this['RegionArray'] = $RegionArray;
$this['RegionArray'] = array_unique($RegionArray);
$this['PropertyArray'] = $PropertyArray;
$this['myRegions'] = $jsonRegionsArray;
//$this['myList'] = $RegionArray->toJson();

}
?>
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="generator" content="OctoberCMS">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% partial 'site/favicon' %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script> -->
         <link href="{{ [
          'assets/vendor/font-awesome/css/font-awesome.min.css',
          'assets/vendor/bootstrap/dist/css/bootstrap.css',
          'assets/less/main.less',
          'assets/js/assets/owl.carousel.min.css',
          'assets/js/assets/owl.theme.default.min.css'
        ]|theme }}" rel="stylesheet">
        
        {% styles %}

    </head>
    <body class="page-{{ this.page.id }}">

        <!-- side nav -->
        {% partial 'site/sidenav' %}
        {% partial 'site/sideuser' %}
        {% partial 'site/opacity-body-side-nav' %}
        

        <!-- Header -->
        <header id="layout-header" class="search-page">
            {% partial 'site/header-home' %}
            <div id="search_block"> {% partial 'site/search-bar' %}</div>
            
        </header>


       <!-- search filter -->
       <div class="landing_post_content">
           
           <div class="container page-container ">
            <section class="filter-block">
                <div class="row">
                    <div class="col-md-3 col-lg-3 landing-post-title">
                        <ul class="list-unstyled list-filter">
                            <li><a href="javascript:void(0)" class="showAll active" onclick="showAll()">SHOW ALL</a></li>
                            <li><a href="javascript:void(0)" class="showHotels" onclick="showHotels()">HOTELS</a></li>
                            <li><a href="javascript:void(0)" class="showHomes" onclick="showHomes()">HOMES</a></li>
                        </ul>
                    </div>
                    <div class="col-md-9 col-lg-9">
                        <div class="list-filter-tag clearfix">
                            <!-- <span class="item" id="romantic_getaway">Romantic Getaway<span class="close-item">x</span> </span> -->
                        </div>
                      <div class="float-right filter-btn" role="group" aria-label="Basic example">
                        <button type="button" class="btn" id="btn-filter" data-toggle="modal" data-target="#RefineSearchModalCenter">
    	                    <span id="count-filter">1</span> Filter
    	               </button>
                        <button type="button" class="btn" id="btn-map">
    	                    Map
                        </button>
                        
                      </div>
                     
                    </div>
                </div>
           </section>
    	</div>
       </div>
        <!-- Content -->
        <section id="layout-content">
         
            {% page %}
        </section>



        <!-- Footer Now-->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

        <!-- Scripts Updated -->
    
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
       


        

       <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
       <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script> -->
        
        {% framework extras %}
        {% scripts %}
        
        <script type="text/javascript" src="{{ [ 
        
          'assets/js/moment.min.js',   
          
          'assets/js/owl.carousel.min.js',
           'assets/js/daterangepicker.js', 
          'assets/vendor/bootstrap/dist/js/bootstrap.min.js',
          'assets/js/typeahead.bundle.js',
          'assets/js/scripts.js',
       ]|theme }}"></script>
        <!-- <script src="http://localhost:8888/vr3/plugins/peterhegman/slickslider/assets/slick/slick.min.js"></script> -->
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
         <script src="themes/view-retreats/assets/js/typeahead.bundle.js"></script>
         <!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script> -->


          <script> 
            $(document).ready(function(){

              var substringMatcher = function(strs) {
                return function findMatches(q, cb) {
                  var matches, substringRegex;

                  // an array that will be populated with substring matches
                  matches = [];

                  // regex used to determine if a string contains the substring `q`
                  substrRegex = new RegExp(q, 'i');

                  // iterate through the pool of strings and for any string that
                  // contains the substring `q`, add it to the `matches` array
                  $.each(strs, function(i, str) {
                    if (substrRegex.test(str)) {
                      matches.push(str);
                    }
                  });

                  cb(matches);
                };
              };

              var states = {{ RegionArray|json_encode|raw }};
              var properties = {{ PropertyArray|json_encode|raw }};
              var regions = {{ myRegions|json_encode|raw }};
            
           
              //var states = JSON.stringify(myarray);
             /* var regions = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                // `states` is an array of state names defined in "The Basics"
                local: regions
              });


              var states = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                // `states` is an array of state names defined in "The Basics"
                local: states
              });

              var properties = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                // `states` is an array of state names defined in "The Basics"
                local: properties
              });
              */

              $('.typeahead').typeahead({
                hint: false,
                highlight: true,
                minLength: 1
              },
              {
                name: 'states',
                limit: 9,
                //source: states
                source: substringMatcher(states)
                /*templates: {
                  suggestion: function(data){
                        return '<div><div class="myicon">' + data + '</div></div>';
                  }
                }*/
              },
              {
                name: 'properties',
                limit: 1,
                //source: properties
                source: substringMatcher(properties)
              }


              /*$('.typeahead').typeahead(null, {
                name: 'regions',
                limit: 5,
                source: regions,
                templates: {
                  suggestion: Handlebars.compile('<div><strong>{{region_name}}</strong> – {{region_id}}</div>')
                }*/


              );



             $('.typeahead').bind('typeahead:select', function(ev, suggestion) {
                console.log('Selection: ' + suggestion);
              });

            });

          </script>
          
         
    </body>
</html>