title = "Property Profile"
url = "/retreat/:slug"
layout = "property"
is_hidden = 0
enabled_in_sitemap = 0
use_updated_at = 0
changefreq = "always"
priority = 0.1

[slider]
slide_show_id = 8

[googleMap]
latitude = 51.506767
longitude = -0.122205
zoom = 12
width = "100%"
height = "487px"
mapTypeId = "ROADMAP"
showMarker = "true"

[imageGallery]
galleryId = 1
mainThumbHeight = 487
mainThumbWidth = 683
resizer = "exact"
mode = "lg-fade"
speed = 600
height = "100%"
width = "100%"
startClass = "lg-start-zoom"
backdropDuration = 150
hideBarsDelay = 6000
closable = 1
loop = 1
escKey = 1
keyPress = 1
controls = 1
slideEndAnimation = 1
hideControlOnEnd = 0
mousewheel = 0
preload = 1
showAfterLoad = 1
download = 0
counter = 1
swipeThreshold = 50
enableDrag = 1
enableTouch = 1
thumbnail = 1
animateThumb = 1
currentPagerPosition = "right"
thumbWidth = 112
thumbContHeight = 90
thumbMargin = 0
toogleThumb = 1
enableThumbDrag = 1
enableThumbSwipe = 1
thumbSwipeThreshold = 50
autoplay = 0
pause = 5000
progressBar = 0
forceAutoplay = 0
autoplayControls = 0
fullScreen = 0
pager = 0
zoom = 0
scale = 1
==
<?php
function onStart() {
    
   

    $session_data = Session::all();
     //print_r($session_data);
    
    // echo $this->currentPageUrl();

   $this['propSlug'] = $this->param('slug');
   $property_slug = $this->param('slug');

   // get Property Details
   $propertyDetails = Db::select("SELECT *,
      expedia_expediaimport_properties.id, 
      expedia_expediaimport_properties.property_id, 
      expedia_expediaimport_properties.name,
      expedia_expediaimport_properties.property_collect, 
      expedia_expediaimport_properties.expedia_collect,
      expedia_expediaimport_properties.inc_all_rate_plans,   
      expedia_expediaimport_properties.address_1, 
      expedia_expediaimport_properties.address_2, 
      expedia_expediaimport_properties.city, 
      expedia_expediaimport_properties.state, 
      expedia_expediaimport_properties.country_code,
      expedia_expediaimport_properties.active,
      expedia_expediaimport_properties.statistics,
      expedia_expediaimport_properties.accommodation_type,
      expedia_expediaimport_ratings.guest_count AS reviews,
      expedia_expediaimport_ratings.guest_overall AS ratings,
      ROUND(expedia_expediaimport_ratings.guest_overall)  AS overall,
      expedia_expediaimport_ratings.property_id AS property_id_rating,
      rainlab_location_countries.name AS country_name 
      FROM expedia_expediaimport_properties
      JOIN expedia_expediaimport_ratings
      ON expedia_expediaimport_properties.property_id = expedia_expediaimport_ratings.property_id
      JOIN rainlab_location_countries
      ON expedia_expediaimport_properties.country_code = rainlab_location_countries.code
      WHERE expedia_expediaimport_properties.slug = '$property_slug'");

      foreach ($propertyDetails as $property) {
        //echo $property->property_id;
        $property_id = $property->property_id;
      }

      $this['properties'] = $propertyDetails;

      // statistics
      /*$stats_array = unserialize($property->statistics);
      if(!empty($stats_array)){
        foreach($stats_array as $stats_key => $stats_value) {
          $bb_array[] = $stats_value;
        }
   

      $this['bb_array'] = $bb_array;*/

     


}
?>
==

  {% set dataProperty = properties %}
  {% set dataAvailability = availability %}

  {% for property in dataProperty %}
  
  
      <link href="{{ [ 'assets/css/property-profile.css']|theme }}" rel="stylesheet">
      <div class="hero-block-property clearfix">
          {% partial 'site/gallery-img' prop_id = property.property_id %}
      </div>

      <div class="container page-container  ">
          <div class="profile-title">
              <div class="row">
                  <div class="col-md-8 mt-3">
                      <h4 data-id="{{ property.property_id  }}" >{{ property.name }}</h4>
                      <a class="pr-location" href="javascript:void(0)" data-target="#popupMap" data-toggle="modal" ><img width="12" height="15" class="mr-2" src="{{ 'assets/images/MapActive.png'|theme }}" />  {{ property.city }}, {{ property.state }}, {{ property.country_code }}</a>
                  </div>
                  <div class="profile-activity col-md-4 d-none d-md-block mt-3">
                      <div class="info-right">
                        {% if property.overall > 0 %}
                          <div class="rate-count"><span>{{property.ratings}}</span>/5 </div>
                          <div class="rate-star">
                              <a href="#nav-reviews" class="card-link">
                                  {% if property.ratings >= 1.0 and property.ratings <= 1.3 %}
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      {% for i in 1..4 %}
                                           <span class="item-star"><img src="{{ 'assets/images/star.png'|theme }}"></span>
                                      {% endfor %}
                                  {% elseif property.ratings >= 1.4 and property.ratings <= 1.8 %}
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-half.png'|theme }}"></span>
                                      {% for i in 1..3 %}
                                           <span class="item-star"><img src="{{ 'assets/images/star.png'|theme }}"></span>
                                      {% endfor %}
                                  {% elseif property.ratings >= 1.9 and property.ratings <= 2.3 %}
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      {% for i in 1..3 %}
                                           <span class="item-star"><img src="{{ 'assets/images/star.png'|theme }}"></span>
                                      {% endfor %}
                                  {% elseif property.ratings >= 2.4 and property.ratings <= 2.8 %}
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-half.png'|theme }}"></span>
                                      {% for i in 1..2 %}
                                           <span class="item-star"><img src="{{ 'assets/images/star.png'|theme }}"></span>
                                      {% endfor %}
                                  {% elseif property.ratings >= 2.9 and property.ratings <= 3.3 %}
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      {% for i in 1..2 %}
                                           <span class="item-star"><img src="{{ 'assets/images/star.png'|theme }}"></span>
                                      {% endfor %}
                                  {% elseif property.ratings >= 3.4 and property.ratings <= 3.8 %}
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-half.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star.png'|theme }}"></span>
                                      
                                  {% elseif property.ratings >= 3.9 and property.ratings <= 4.3 %}
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star.png'|theme }}"></span>

                                  {% elseif property.ratings >= 4.4 and property.ratings <= 4.8 %}
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-half.png'|theme }}"></span>
                                      

                                  {% elseif property.ratings >= 4.9 and property.ratings <= 5.0 %}
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>

                                  {% endif %}
                              </a>
                          </div>
                         
                          {% if property.ratings > 4.6 and property.ratings < 5.1 %}
                              <p>Exceptional</p>
                          {% elseif property.ratings > 4.4 and property.ratings < 4.7 %}
                              <p>Wonderful</p>
                          {% elseif property.ratings > 4.2 and property.ratings < 4.5 %}
                              <p>Excellent</p>
                          {% elseif property.ratings > 4.1 and property.ratings < 4.3 %}
                              <p>Very Good</p>
                          {% else %}
                              <p>Good</p>
                          {% endif %}
                          
                          <span class="count-review">({{property.reviews}} reviews)</span>
                        {% endif %}
                      </div>
                  </div>
                  <!-- <div class="profile-activity d-md-none">
                      <div class="info-right">
                          <div class="d-flex align-items-center justify-content-start">
                              <div class="rate-count"><span>4.7</span></div>
                              <div class="rate-star">
                                  <a href="#nav-reviews" class="card-link">
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      <span class="item-star"><img src="{{ 'assets/images/star.png'|theme }}"></span>
                                  </a>
                              </div>
                          </div>
                          <div class="d-flex align-items-center justify-content-start">
                              <p>Excellent</p>
                              <span class="count-review ml-1 ml-sm-2">(453 reviews)</span>
                          </div>
                      </div>
                      <div class="search-right">
                          <a href="#nav-rooms" class="btn btn-reserve">Reserve</a>
                      </div>
                  </div> -->
              </div>
          </div>
      </div>
      <div class="profile-title" id="navbar-scroll">
          <div class="container page-container">
              <div class="row" >
                  <div class="col-lg-8">
                      <nav id="nav-header">
                          <div class="nav nav-tabs" id="nav-tab" role="tablist">
                              <a class="nav-item nav-link text-uppercase active" id="nav-overview-tab"  href="#nav-overview">Overview</a>
                              <a class="nav-item nav-link text-uppercase" id="nav-rooms-tab" href="#nav-rooms">Rooms</a>
                              <a class="nav-item nav-link text-uppercase" id="nav-amenities-tab" href="#nav-amenities">Amenities</a>
                              <a class="nav-item nav-link text-uppercase" id="nav-location-tab" href="#nav-location">Location</a>
                              <a class="nav-item nav-link text-uppercase" id="nav-policies-tab" href="#nav-policies">Policies</a>
                              <a class="nav-item nav-link text-uppercase" id="nav-reviews-tab" href="#nav-reviews">Reviews</a>
                          </div>
                      </nav>
                  </div>
                  <div class="col-lg-4 d-none d-lg-block">
                      <div class="d-flex align-items-center justify-content-end profile-button">
                          <div class="profile-save">
                              <i class="fa fa-heart-o hover-fa-heart" ></i>
                              <span class="label-love d-block">Save</span>
                          </div>
                          <a href="javascript:voild()" data-toggle="modal" data-target="#sharePoupModal" class="profile-share">
                              <img class="icon-share" src="{{ 'assets/images/Share.png'|theme }}" />
                              <span class="label-share d-block">Share</span>
                          </a>
                          <div class="search-right">
                              <a href="#nav-rooms" class="btn btn-reserve">Reserve</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="property-bg nav-item">
          <section id="nav-overview" class="item-nav">
              <div class="container page-container">
                  <h4 class="title-property d-none d-sm-block">Overview</h4>

                  {% partial 'site/property-detail' prop_array = property prop_id = property.property_id %}
              </div>
          </section>
          <section class="pr-available-block item-nav" id="nav-rooms">
              <div class="container page-container">
                  <div class="row">
                      <div class="col-6 col-md-8">
                          <h4 class="title-property d-none d-sm-block">Rooms & Rates</h4>
                      </div> 
                      <div class="col-6 col-md-4 align-items-center justify-content-end d-none d-md-flex">
                          <div class="show-unavail-room mr-1">Hide Unavailable Rooms</div>
                          <div class="">
                              <label class="switch">
                                    <input type="checkbox" class="default" >
                                    <span class="slider round"></span>
                              </label>
                          </div>
                      </div>
                  </div>
              </div>
               <div class="clearfix">
                   {# partial 'site/search-bar' #}
                   <div class="d-flex align-items-center justify-content-end d-sm-none mr-3 my-4">
                      <div class="show-unavail-room">Show Unavailable Rooms</div>
                      <label class="switch ml-2">
                            <input type="checkbox" class="default" checked>
                            <span class="slider round"></span>
                      </label>
                  </div>
                   {% partial 'site/property-available-block' prop_array=property  property_id = property.property_id %}
               </div>
          </section>

          <section class="question-block item-nav" id="nav-safety">
            <div class="container page-container">
                  <h4 class="title-property">Cleaning & Safety</h4>
                  {% partial 'site/safety-block' prop_array=property  property_id = property.property_id %}
              </div>

           </section>


          <section class="item-nav" id="nav-amenities">
              <div class="note-block">
                  <div class="container page-container">
                      <h4 class="title-property d-none d-sm-block">Property Amenities</h4>
                      {% partial 'site/property-amenities' prop_array=property  property_id = property.property_id %}
                  </div>

              </div>
              <div class="note-block">
                  <div class="container page-container">
                      <h4 class="title-property d-none d-sm-block">Room Amenities</h4>
                      {% partial 'site/room-amenities' property_id = property.property_id %}
                  </div>
              </div>
          </section>


         
           <section class="google-map-block item-nav" id="nav-location">
              <div class="container page-container">
                  <h4 class="title-property d-none d-sm-block">Location</h4>
                  <div class="location-box note-detail">
                      <h4 class="title-property d-sm-none">Location</h4>
                      <div class="row">
                          <div class="col-sm-6 order-1 order-sm-0">
                              <h5 class="carousel-title"> {{ property.desc_headline}}</h5>
                              <p>
                                 {{ property.desc_location}}
                              </p>

                              {% set dataAttractions = property.desc_attractions %}
                              <div class="list-attractions">
                                  <h5 class="carousel-title">Nearby Attractions</h5>
                                  <ul class="list-unstyled list-item-feature" id="myattrac">
                                      <!--  <li>
                                           <img src="{{ 'assets/images/map.png'|theme }}" alt="King Street Wharf - 0.2 km">
                                           <div class="card-note">
                                               <span class="card-content "> King Street Wharf - 0.2 km</span>
                                           </div>
                                       </li>
                                       <li>
                                           <img src="{{ 'assets/images/map.png'|theme }}" alt="Wild Life Sydney Zoo - 0.3 km">
                                           <div class="card-note">
                                               <span class="card-content ">SEA LIFE Sydney Aquarium - 0.3 km</span>
                                           </div>
                                       </li>
                                       <li>
                                          <img src="{{ 'assets/images/map.png'|theme }}" alt="SEA LIFE Sydney Aquarium - 0.3 km">
                                          
                                          <div class="card-note">
                                               <span class="card-content ">King Street Wharf - 0.2 km</span>
                                           </div>
                                       </li>
                                       <li>
                                          <img src="{{ 'assets/images/map.png'|theme }}" alt="Wild Life Sydney Zoo - 0.3 km"> 
                                          
                                          <div class="card-note">
                                               <span class="card-content ">Wild Life Sydney Zoo - 0.3 km</span>
                                           </div>
                                       </li> -->
                                   </ul>
                              </div>

                              <script type="text/javascript">
                              jQuery(document).ready(function () {

                                  var str = "{{ property.desc_attractions|raw|truncate(350) }}";

                                  var bulleticon = "{{ 'assets/images/map-mobile.png'|theme }}";

                                  //var str = "{{ property.property_id }}";
                                  // remove p tags
                                  var $temp = $("<div>").html(str);
                                  $temp.find("p").each(function() {
                                    $(this).replaceWith(this.childNodes);
                                  });

                                  // separate sentences by br tag
                                  var output = $temp.html();
                                  var lines = output.split('<br>');
                                  lines = lines.filter(function(n) { 
                                      return n; 
                                  });

                                  jQuery.each(lines, function(i) {
                                    //console.log(this);
                                    // exit on 5th 
                                    if(i>5) return false;

                                    // do not display first line 
                                    
                                    if(i>0) {
                                          $( "#myattrac" ).append('<li> <img src="'+ bulleticon + '" alt=""> <div class="card-note"><span class="card-content">' + this  + '</span></div></li>');
                                    }
                                  });
                              });
                              </script>
                              <!-- <div class="list-attractions" style="margin-top: 15px;">
                                  <h5 class="carousel-title">Nearby Airports</h5>
                                  <p>The preferred airport for Paperbark Camp is Sydney, NSW <br> (SYD-Kingsford Smith Intl.) - 166.3 km</p>
                              
                              </div>  -->
                          </div>
                          <div class="col-sm-6 order-0 order-sm-1">
                               <div class="mb-3" id="map-property" style="width:100%;height:300px;"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
           <section class="question-block item-nav" id="nav-policies">
              <div class="container page-container">
                  <h4 class="title-property">Policies & Booking Information</h4>
                  {% partial 'site/policies-block' prop_array=property  property_id = property.property_id %}
              </div>
          </section>
          <section class="question-block item-nav" id="nav-reviews">
              <div class="container page-container">
                  <h4 class="title-property">Guest Reviews</h4>
                  {% partial 'site/guest-reviews' prop_array=property  property_id = property.property_id %}
              </div>
          </section>
      </div>

      <div class=" container page-container similar-block">
          <div class="collection">
              <h4 class="title-property">Similar Properties</h4>
              <div class="slider-slick">
              {% component 'slider' slide_show_id = 3 %}
          </div>
          </div>
      </div>
      <div class="modal" id="popupMap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabeldd" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" >
             <div class="modal-header">
                  <h5 class="modal-title">{{ property.name }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding: 0">       
               <div class="popup-map-goole">
                   <div id="map-popup" style="width:100%;height:525px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        jQuery(document).ready(function () {

            var str = "{{ property.desc_attractions|raw|truncate(350) }}";
            var longitude = "{{ property.longitude|raw }}";
            var latitude = "{{ property.latitude|raw }}";

            var bulleticon = "{{ 'assets/images/map-mobile.png'|theme }}";

            //var str = "{{ property.property_id }}";
            // remove p tags
            var $temp = $("<div>").html(str);
            $temp.find("p").each(function() {
              $(this).replaceWith(this.childNodes);
            });

            // separate sentences by br tag
            var output = $temp.html();
            var lines = output.split('<br>');
            lines = lines.filter(function(n) { 
                return n; 
            });

            jQuery.each(lines, function(i) {
              //console.log(this);
              // exit on 5th 
              if(i>5) return false;

              // do not display first line 
              
              if(i>0) {
                    $( "#myattrac" ).append('<li> <img src="'+ bulleticon + '" alt=""> <div class="card-note"><span class="card-content">' + this  + '</span></div></li>');
              }
            });

            var map = L.map('map-property').setView([latitude, longitude], 13);

            var myIcon = L.icon({
                iconUrl: '{{ 'assets/images/search-popup-search.png'|theme }}',
                iconSize: [100, 100]
            });
            L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
              attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            L.marker([latitude, longitude], {icon: myIcon}).addTo(map);

            map.on('click', function(ev) {
                $('#popupMap').modal('show');
            });
            $('#popupMap').on('shown.bs.modal', function() {
              var map1 = L.map('map-popup').setView([latitude, longitude], 15);
              L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
              }).addTo(map1);
              L.circle([latitude, longitude], {radius: 200,  color: "#1DBFD8", fillColor: "#1DBFD8"}).addTo(map1);
              map1.invalidateSize();
            });
        });
    </script>
    
  {% endfor %}


      
      {% partial 'site/term-condition' %}
      {% partial 'popup/popup-share.htm' %}
<style type="text/css" media="screen">
  .leaflet-container.leaflet-touch-drag.leaflet-touch-drag{
    z-index: 0;
    
  }  
</style>
<script type="text/javascript">
var sections = $('section')
  , nav = $('#nav-tab')
  , navscroll = $('#navbar-scroll')
  , nav_height = nav.outerHeight() + 70;


$(window).on('scroll', function () {
   var cur_pos = $(this).scrollTop();
  
    var navbarscroll = document.getElementById("navbar-scroll");
    var sticky = navbarscroll.offsetTop;
    $("#nav-overview-tab").addClass('active')
    if ($(document).scrollTop() > sticky) {
      $("#navbar-scroll").addClass("sticky");
      $("#layout-content").addClass('sticky-0');
      sections.each(function() {
        var top = $(this).offset().top - nav_height,
            bottom = top + $(this).outerHeight();
        if (cur_pos >= top && cur_pos <= bottom) {
          nav.find('a').removeClass('active');
          sections.removeClass('active');
          $(this).addClass('active');
          nav.find('a[href="#'+$(this).attr('id')+'"]').addClass('active');
        }
      });
    }else{
        $("#navbar-scroll").removeClass("sticky");
        $("#layout-content").removeClass('sticky-0');
    }
  
});

nav.find('a').bind("click", function(e) {
  var target = $(this).attr("href")
    , scrollToPosition =  $(target).offset().top - nav_height;
    
    $('html').animate({ 'scrollTop': scrollToPosition }, 400, function(target){
        window.location.hash = target;
    });
    
    e.preventDefault();
});

$("#btn-nav-location, #btn-nav-amenities").bind("click", function(e) {
    var height_nav = nav_height + 40;
  var target = $(this).attr("href")
    , scrollToPosition =  $(target).offset().top - height_nav ;
    
    $('html').animate({ 'scrollTop': scrollToPosition }, 400, function(target){
        window.location.hash = target;
    });
    
    e.preventDefault();
});

$('#imageGallery div').click(function(){
   setTimeout(function() {
      $('.lg-outer .lg div.lg-thumb-outer').addClass('lg-img');
    }, 100);
    setTimeout(function() {
      $('.lg-outer').removeClass('lg-thumb-open');
    }, 1000);
    setTimeout(function() {
        $('.lg').click(function(){
            $('.lg-outer .lg div:nth-child(5)').removeClass('lg-img');
            $('.lg-outer .lg-item .lg-img-wrap .lg-object').removeClass('lg-image-small');
            $('.lg-actions div:nth-child(1)').removeClass('lg-prev-small');
            $('.lg-actions div:nth-child(2)').removeClass('lg-next-small');
            $('.lg-sub-html p').removeClass('p-small');
            $('.lg-toolbar div').removeClass('lg-counter-small');
            $('.lg-outer .lg div:nth-child(2).lg-toolbar').removeClass('toolbar-small');
            var x = $('.lg-outer').hasClass('lg-thumb-open');
            if(x = true) {
                $('.lg-thumb-open .lg-item .lg-img-wrap .lg-object').addClass('lg-image-small');
                $('.lg-thumb-open .lg-actions div:nth-child(1)').addClass('lg-prev-small');
                $('.lg-thumb-open .lg-actions div:nth-child(2)').addClass('lg-next-small');
                $('.lg-thumb-open .lg-sub-html p').addClass('p-small');
                $('.lg-thumb-open .lg-toolbar div').addClass('lg-counter-small');
                $('.lg-thumb-open .lg div:nth-child(2).lg-toolbar').addClass('toolbar-small');
            }
            setTimeout(function() {
              $('.lg-thumb-open .lg-sub-html p').addClass('p-small');
            }, 700);
            setTimeout(function() {
              $('.lg-thumb-open .lg-item .lg-img-wrap .lg-object').addClass('lg-image-small');
            }, 800);
         });
    }, 1000);
});
$(document).ready(function () {
    $(".show_more_block").hide();
    $(".read-more-btn").on("click", function (e) {
        e.preventDefault();
        var txt = $(".show_more_block").is(':visible') ? 'Read more' : 'Read less';
        $(".read-more-btn").text(txt);
        $('.show_more_block').slideToggle(200);
    });
});
</script>