==
<div class="slide-about-us-why-us">
	<span>The View Retreats Difference</span>
	<img src="https://app.dev.viewretreats.net/storage/app/media/about%20us/The-View-Retreats-Difference.png">
</div>
<div class="container">
	<div class="row">
		<div class="about-why-us-diamond">
			<table>
				<tr>
					<td>
						<img src="{{ 'assets/images/about-why-us-diamond.png'|theme }}" />
					</td>
					
				</tr>
				<tr>
					<td>
						<h4>Discover The Best Luxury <br> Getaways In Australia & New Zealand</h4>
					</td>
					
				</tr>
				<tr>
					<td>
						<p>We’re big believers in quality over quantity, so our hand-picked portfolio features only the most exceptional romantic retreats, luxury holiday homes, beautiful boutique hotels & luxury lodges available across Australia and New Zealand. </p>
					</td>
					
				</tr>
			</table>
			
			<hr class="about-hr-tag">
			
		</div>
	</div>
	<div class="row">
		<div class="about-why-us-assistant">
			<table>
				<tr>
					<td>
						<img src="{{ 'assets/images/assitant-why-us.png'|theme }}" />
					</td>
					
				</tr>
				<tr>
					<td>
						<h4>Our team will help you to <br> plan & book your getaway or event</h4>
					</td>
					
				</tr>
				<tr>
					<td>
						<p>We’re big believers in quality over quantity, so our hand-picked portfolio features only the most exceptional romantic retreats, luxury holiday homes, beautiful boutique hotels & luxury lodges available.</p>
					</td>
					
				</tr>
			</table>
			
			<hr class="about-hr-tag">
			
		</div>
	</div>
	<div class="row">
		<div class="about-why-us-wallet">
			<table>
				<tr>
					<td>
						<img width="51px" height="50" src="{{ 'assets/images/wallet2x-why-us.png'|theme }}" />
					</td>
					
				</tr>
				<tr>
					<td>
						<h4>You’ll always find the  <br>best available rates, guaranteed!</h4>
					</td>
					
				</tr>
				<tr>
					<td>
						<p>We’re big believers in quality over quantity, so our hand-picked portfolio features only the most exceptional romantic retreats, luxury holiday homes, beautiful boutique hotels & luxury lodges available.</p>
					</td>
					
				</tr>
			</table>
			
			<hr class="about-hr-tag">
			
		</div>
	</div>
	<div class="row">
		<div class="about-why-us-hand">
			<table>
				<tr>
					<td>
						<img style="padding-top: 8px;" src="{{ 'assets/images/hand2x-why-us.png'|theme }}" />
					</td>
					
				</tr>
				<tr>
					<td>
						<h4>For every confirmed booking  <br>we plant a native Australian tree!</h4>
					</td>
					
				</tr>
				<tr>
					<td>
						<p>We’re big believers in quality over quantity, so our hand-picked portfolio features only the most exceptional romantic retreats, luxury holiday homes, beautiful boutique hotels & luxury lodges available.</p>
					</td>
					
				</tr>
			</table>

			<hr class="about-hr-tag">

		</div>
	</div>

	
	<div class="row">
		<div class="about-why-us-map">
			<table>
				<tr>
					<td>
						<img width="63px" height="47" src="{{ 'assets/images/Australia-map2x-why-us.png'|theme }}" />
					</td>
					
				</tr>
				<tr>
					<td>
						<h4>We’re are proudly <br>Australian made & owned</h4>
					</td>
					
				</tr>
				<tr>
					<td>
						<p>We’re big believers in quality over quantity, so our hand-picked portfolio features only the most exceptional romantic retreats, luxury holiday homes, beautiful boutique hotels & luxury lodges available. </p>
					</td>
					
				</tr>
			</table>
			
		</div>
	</div>
</div>
<script>
window.onscroll = function() {myFunction()};
function myFunction() {
    var header = document.getElementById("about-us-navs-tab");
    if (window.pageYOffset > 56) {
        header.classList.add("sticky");
    } else {
        header.classList.remove("sticky");
    }
}
</script>