==
<div class="container page-container p-0">
	<div class="collection">
		<div class="carousel-title">
			<h4>Popular Destinations</h4>
		</div>
		<div class="your-class">
		{% for i in 1..6 %}	
		  <div class="blog-card">
		  	<div class="blog-card-image">
		  		<a href="#">
		  			<div class="slide-image" style="background-image: url( 'http://localhost:8888/vr3/storage/app/media/Destinations/cropped-images/damian-markutt-1211312-unsplash-0-0-0-0-1575704452.jpg' ); background-position: % %; background-repeat: no-repeat;">
		        	</div>
		  		</a>
		  	</div>
		  	<div class="blog-card-title">Special Offers - Luxury Accommodation & Getaways</div>
		  	<div class="blog-card-excerpt">
		  		Are you in need of a getaway or escape? We have some fantastic special offers available on luxury accommodation across Australia. These deals change regularly...
		  	</div>

		  </div>

		 {% endfor %}
		  
		</div>
	</div>
	
</div>