==
<div class="container p-0 list-group d-flex flex-row flex-wrap">
    <div class="w-50 list-group-item-action" style="padding-right: 21px;">
        <div class="carousel-title">
            <h4>Booking Policies</h4>
        </div>
        <hr/>
        <div class="d-table">
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/rect1662.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Confirmation</span>
	        			<div class="tooltips"><i class="fa fa-exclamation-circle icon-exclamation"></i>
							<div class="tooltipstext">
							    <div class="mr-para">
								<span class="tooltip-title">Instant Confirmation</span>
    								<div class="">
    									<span class="sp-tooltip">These properties offer realtime rates & availability. Bookings are instantly confirmed upon completion and partial or full payment is processed directly by the property owner within 24 business hours.</span>
    								</div>
								</div>
								<div class="mr-para">
    								<span class="tooltip-title">On Request</span>
    								<div class="">
    									<span class="sp-tooltip">These properties update their rates & availability manually. As such, all information is provided as a guideline only. Requests are sent to the property owner who will confirm exact rates & availability within 24 business hours. You can decide if you’d like to proceed with booking.</span>
    								</div>
								</div>
								<div class="mr-para">
								<span class="tooltip-title">Enquiry Only</span>
    								<div class="">
    									<span class="sp-tooltip">These properties provide rate & availability information on an ‘enquiry only’ basis. You’ll receive an accurate quote for your dates within 24 business hours of your enquiry and any bookings will be processed via email or phone.</span>
    								</div>
								</div>
							</div>
						</div>
	        		</div>
	        		<span class="sp-note">Instant Confirmation</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/minimum -nights.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Minimum Stay Requirement</span>
	        			<div class="tooltips"><i class="fa fa-exclamation-circle icon-exclamation"></i>
							<div class="tooltipstext">
								<span class="tooltip-title">Minimum Stay Requirement</span>
								<div class="">
									<span class="sp-tooltip">Some properties enforce a minimum stay duration, especially over weekends and popular holidays. You are welcome to stay for a shorter duration, however you will still incur the cost of the minimum stay requirement.</span>
								</div>
							</div>
						</div>
	        		</div>
	        		<span class="sp-note">2-4 nights (depending on the season)</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/d-key.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Check-in</span>
	        		</div>
	        		<span class="sp-note">Check-in from 3.00pm</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/check-out.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Check-out</span>
	        		</div>
	        		<span class="sp-note">Check-out before 10.00am</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/Children.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Children & Extra Beds</span>
	        		</div>
	        		<span class="sp-note">Rugrats are welcome. Rollaway bed $40 per night.</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/Pets.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Pets</span>
	        		</div>
	        		<span class="sp-note">Sorry, no fur babies here!</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/Parties.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Parties & Events</span>
	        		</div>
	        		<span class="sp-note">Ummmm, no. Pity right... it’s so pretty. But it’s still a no.</span>
	        	</div>
        	</div>
        </div>

        <!-- Payments and Fees Block -->
        <div class="carousel-title">
            <h4>Payments & Fees</h4>
        </div>
        <hr/>
        <div class="d-table">
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/payment.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Payment</span>
	        		</div>
	        		<span class="sp-note">Your payment will be processed by your host directly</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/Currency.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Property Currency</span>
	        		</div>
	        		<span class="sp-note">Australian Dollar (AUD)</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/Deposit.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Deposit Amount</span>
	        		</div>
	        		<span class="sp-note">50% of booking total</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/final-balance.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Final Balance Due</span>
	        		</div>
	        		<span class="sp-note">30 days prior to arrival</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/PaymentMethods.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Payment Methods</span>
	        		</div>
	        		<span class="sp-note">Visa, Mastercard, Amex, Diners, Bank Transfer</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/SecurityBond.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Security Bond</span>
	        		</div>
	        		<span class="sp-note">This property charges a refundable security bond. The bond is separate from the nightly rate and is paid directly to the property owner prior to check-in. Payment details will be provided by the host after confirmation.</span>
	        		<p class="bond card-subtitle"><b>Bond amount:</b> $2,000</p>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/Fees.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Fees & Extras</span>
	        		</div>
	        		<span class="sp-note">This property charges additional fees that will be added to the nightly rate total once you select your room type (if applicable).</span>
	        		<br/>
	        		<p class="fees card-subtitle"><b>Fees:</b> $600 Cleaning Fee, $114 Accidental Damage Levy, 1.5% Visa/Mastercard & Amex</p>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/Terms.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Booking Terms</span>
	        		</div>
	        		<span class="sp-note">Your booking is subject to the property’s own <a href="#" class="term-condition"  data-toggle="modal" data-target="#termModalCenter">terms & conditions</a>.</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/ThingsToKnow.png'|theme }}" />
	        			<span class="card-title font-weight-bold">You Should Know</span>
	        		</div>
	        		<span class="sp-note">Accommodation facilities, inclusions, fees & payment information is provided by the property and is subject to change without notice. We have detailed all charges advised to us by the property. However, charges & fees may vary based on your length of stay, inclusions, seasonality or the room type you book.If you find any incorrect information, please let us know.</span>
	        	</div>
        	</div>
        </div>

    </div>
    <div class="w-50 list-group-item-action" style="padding-left: 21px;">
        <div class="carousel-title">
            <h4>Property Amenities</h4>
        </div>
        <hr/>
        <div class="d-table">
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/Internet.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Internet</span>
	        		</div>
	        		<span class="sp-note">WiFi Internet</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/Entertainment.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Entertainment & Relaxation</span>
	        		</div>
	        		<span class="sp-note">
	        			<ul>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Spa Bath</li>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />CD Player</li>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Television with Netflix & AppleTV</li>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />iPod Dock</li>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Wood Fireplace</li>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Gas Barbecue</li>
	        			</ul>
	        		</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/FoodandDrink.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Food & Drink</span>
	        		</div>
	        		<span class="sp-note">
	        			<ul>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Continental Breakfast Provisions</li>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Welcome Hamper with Regional Treats</li>
	        			</ul>
	        		</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/Kitchen.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Kitchen</span>
	        		</div>
	        		<span class="sp-note">
	        			<ul>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Coffee Machine</li>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Refrigerator</li>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Cooking Equipment</li>
	        			</ul>
	        		</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/Bedrooms.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Bedroom</span>
	        		</div>
	        		<span class="sp-note">
	        			<ul>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />King Size Bed [2]</li>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Queen Size Bed</li>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Single Bed</li>
	        			</ul>
	        		</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/Bathroom.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Bathroom</span>
	        		</div>
	        		<span class="sp-note">
	        			<ul>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Shower</li>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Freestanding Bath</li>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Double Vanity</li>
	        			</ul>
	        		</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/Children-x.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Children</span>
	        		</div>
	        		<span class="sp-note">
	        			<ul>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />High Chair</li>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Cot</li>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Cubby House</li>
	        			</ul>
	        		</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/MeetingsandEvents.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Meetings & Events</span>
	        		</div>
	        		<span class="sp-note">
	        			<ul>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Meeting Rooms [2]</li>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Audio Visual Facilities</li>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Onsite Catering</li>
	        			</ul>
	        		</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/Transport.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Parking & Transport</span>
	        		</div>
	        		<span class="sp-note">
	        			<ul>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Off-Street Parking [2]</li>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Golf Buggy</li>
	        			</ul>
	        		</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/GuestServices.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Guest Services</span>
	        		</div>
	        		<span class="sp-note">
	        			<ul>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />24/7 Concierge Service</li>
	        			</ul>
	        		</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/Accessibility.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Accessibility</span>
	        		</div>
	        		<span class="sp-note">
	        			<ul>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Accessible room available</li>
	        			</ul>
	        		</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/General.png'|theme }}" />
	        			<span class="card-title font-weight-bold">General</span>
	        		</div>
	        		<span class="sp-note">
	        			<ul>
	        				<li><img src="{{ 'assets/images/ellipse.png'|theme }}" />Laundry & Ironing Facilities</li>
	        			</ul>
	        		</span>
	        	</div>
        	</div>
        </div>
    </div>
</div>