==
<form data-request="{{ __SELF__ }}::onFormSubmit">

{{ form_token() }}
    <table>
        <tr>
            <td>
                 <div class="form-group">
                    <input type="text" id="contact-booking-first-name" name="contact-booking-first-name" class="form-control" placeholder="First Name*">
                </div>
            </td>
            <td>
                 <div class="form-group">
                    <input type="text" id="contact-booking-last-name" name="contact-booking-last-name" class="form-control" placeholder="Last Name*">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                 <div class="form-group">
                    <input type="text" id="contact-booking-email" name="contact-booking-email" class="form-control" placeholder="Email*">
                </div>
            </td>
            <td>
                 <div class="form-group">
                    <input type="text" id="contact-booking-phone" name="contact-booking-phone" class="form-control" placeholder="Phone*">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                 <div class="form-group">
                    <input type="text" id="contact-booking-date" name="contact-booking-date" class="form-control" placeholder="Dates">
                </div>
            </td>
            <td>
                 <div class="form-group">
                    <input type="text" id="contact-booking-guest" name="contact-booking-guest" class="form-control" placeholder="Guests">
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                 <div class="form-group">
                    <input type="text" id="contact-booking-property" name="contact-booking-property" class="form-control" placeholder="Property name or region">
                </div>
            </td>
           
        </tr>
         <tr>
            <td colspan="2">
                 <div class="form-group">
                    
                    <textarea class="form-control" id="contact-booking-help" name="contact-booking-help" placeholder="How can we help you?*"></textarea>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="custom-control custom-checkbox mb-3 contact-booking-flexible">
                  <input type="checkbox" class="custom-control-input" id="contact-booking-flexible" name="">
                  <label class="custom-control-label" for="contact-booking-flexible">My date are flexible</label>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="custom-control custom-checkbox mb-3 contact-booking-receive">
                  <input type="checkbox" class="custom-control-input" id="contact-booking-receive" name="">
                  <label class="custom-control-label" for="contact-booking-receive">Receive update from View Retreats</label>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="button" id="contact-booking-button-enquiry">ENQUIRE</button>
            </td>
        </tr>
    </table>
</form>