==
<div id="footer">
    <div class="container page-container">
        <div class="row">
        	<div class="col p-0">
        		<h4>Subscribe To Receive News & Exclusive Special Offers</h4>
        	</div>
        </div>
        <div class="row">
        	<div class="col p-0">
        		<div class="subscribe-block">
        			<form method="post" class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtfname" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtlname" placeholder="Last Name">
                        </div>
        				<div class="form-group footer-txtemail">
					    	<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email Address">
					    </div>
					  <div class="form-group">
					    <input type="submit" class="btn btn-primary btn-email" value="SUBSCRIBE">
					  </div>
        			</form>
        		</div>
        	</div>
        </div>

        
        <div class="row footer-bottom">
        	<div class="col">
        		<div class="footer-links">
	        		<ul>
	        			<li><a href="#">About</a></li>
	        			<li><a href="#">Search</a></li>
	        			<li><a href="#">Contact</a></li>
	        			<li><a href="#">Partners</a></li>
	        			<li><a href="#">FAQ's</a></li>
	        			<li><a href="#">Terms</a></li>
	        		</ul>
        		</div>
        	</div>
        	<div class="col text-right">
        		<div class="footer-social">
        		<ul>
        			<li><a href="#"><img src="{{ 'assets/images/fb.png'|theme }}" /></a></li>
        			<li><a href="#"><img src="{{ 'assets/images/twitter.png'|theme }}" /></a></li>
        			<li><a href="#"><img src="{{ 'assets/images/youtube.png'|theme }}" /></a></li>
        			<li><a href="#"><img src="{{ 'assets/images/ig.png'|theme }}" /></a></li>
        			<li><a href="#"><img src="{{ 'assets/images/pi.png'|theme }}" /></a></li>
        		</ul>
        		</div>
        	</div>
        </div>
        <p class="copyright text-center">© View Retreats Pty. Ltd. ABN. 56 219 876 466</p>
        <!-- <p class="muted credit">&copy; 2013 - {{ "now"|date("Y") }} Alexey Bobkov &amp; Samuel Georges.</p> -->

    </div>
</div>