==
<!-- Nav -->
<div class="nav-bg" style="background: #323A45;" >
  <div class="container" style="background: #323A45;">
    <nav id="topnav" class="navbar navbar-expand-lg navbar-light" >
      <a class="navbar-brand" style="margin-left: -15px;" href="#"><img src="{{ 'assets/images/arrow-left-checkout.png'|theme }}"></a>
      <p class="header-text-enter-your-detail">Enter Your Details</p>
      <div class="nav-menu-block-checkout">
        <div class="nav-icons-block">
          
          <div id="close-nav-icon"></div>
        </div>
      </div>
    </nav>
  </div>
</div> <!-- nav bg -->