==
<section id="tabs" class="property-tab">
                <div class="row overview">
                    <div class="col-md-12 p-0">
                        <nav id="nav-header">
                            <div class="nav nav-tabs container p-0" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link text-uppercase active" id="nav-overview-tab"  href="#nav-overview">Overview</a>
                                <a class="nav-item nav-link text-uppercase" id="nav-rooms-tab" href="#nav-rooms">Rooms</a>
                                <a class="nav-item nav-link text-uppercase" id="nav-details-tab" href="#nav-details">Details</a>
                                <a class="nav-item nav-link text-uppercase" id="nav-location-tab" href="#nav-location">Location</a>
                                <a class="nav-item nav-link text-uppercase" id="nav-enquire-tab" href="#nav-enquire">Enquire</a>
                            </div>
                        </nav>
                        <div class="tab-content collection container p-0" id="nav-overview">
                            <div class="">
                                <div class="carousel-title">
                                    <h4>What We Love</h4>
                                </div>
                                <ul class="list-group d-flex flex-row flex-wrap">
                                    <li class="w-50 list-group-item-action pr-3">
                                        <img src="{{ 'assets/images/ellipse.png'|theme }}" />
                                        Stunning boutique design-hotel located in the heart of Canberra
                                    </li>
                                    <li class="w-50 list-group-item-action">
                                        <img src="{{ 'assets/images/ellipse.png'|theme }}" />
                                        Regular weekly yoga lessons provided for guests
                                    </li>
                                    <li class="w-50 list-group-item-action pr-3">
                                        <img src="{{ 'assets/images/ellipse.png'|theme }}" />
                                        Exquisite design, furnishings and attention to detail throughout
                                    </li>
                                    <li class="w-50 list-group-item-action">
                                        <img src="{{ 'assets/images/ellipse.png'|theme }}" />
                                        Onsite restaurant, bar, library & fully-equipped gym
                                    </li>
                                    <li class="w-50 list-group-item-action pr-3 pb-0">
                                        <img src="{{ 'assets/images/ellipse.png'|theme }}" />
                                        Choice of four uniquely designed guest room types
                                    </li>
                                </ul>
                                <div class="carousel-title">
                                    <h4>About This Property</h4>
                                </div>
                                <p class="text-justify d-flex flex-row flex-wrap pr-about">
                                    Situated over three levels of a residential building, Hotel Hotel has been thoughtfully designed with sustainability in mind. All of the hotel’s public spaces have been crafted using natural materials, and reused and salvaged timbers. Warm fabrics and bespoke furniture commissions, local art and collected objects feature throughout the hotel, giving the atmosphere and setting a unique edge.
                                </p>
                                <div class="d-flex">
                                    <a href="#" class="card-link text-uppercase align-self-center align-content-center m-auto show-more">Show More <img src="{{ 'assets/images/i-more.png'|theme }}" /></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>