[genericForm]
rules[first_name] = "required"
rules[last_name] = "required"
rules[email] = "required|email"
rules[phone] = "null"
rules[dates] = "null"
rules[guests] = "null"
rules[question] = "required"
rules_messages[first_name.required] = "Don't forget your First Name"
rules_messages[last_name.required] = "Don't forget your Last Name"
rules_messages[email.required] = "Your email please"
rules_messages[email.email] = "This is not a vaild email address"
rules_messages[question] = "Your question please"
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
<div class="container list-group d-flex flex-row flex-wrap pr-0">
    <div class="w-50 list-group-item-action pr-4">
        <div class="carousel-title pb-3">
            <h4>Questions? Get in Touch!</h4>
        </div>
        <div class="d-table">
        	<div class="d-table-row">
        		<div class="pb-3">
	        		<div class="">
	        			<img src="{{ 'assets/images/Assitance.png'|theme }}" />
	        			<span class="card-title pl-2 font-weight-bold">Free Booking Assistance</span>
	        		</div>
	        		<span class="sp-note">Our team of Getaway Specialists are on hand to answer any of your questions or to help you to book your perfect event or getaway.</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="pb-3">
	        		<div class="">
	        			<img src="{{ 'assets/images/BookSecurely.png'|theme }}" />
	        			<span class="card-title pl-2 font-weight-bold">Best Price Guarantee</span>
	        		</div>
	        		<span class="sp-note">Our Price Guarantee ensures you get the best available rate every time. Have you seen a cheaper price? We’ll match it!</span>
	        	</div>
        	</div>
        	<div class="d-table-row">
        		<div class="pb-3">
	        		<div class="">
	        			<img src="{{ 'assets/images/iconfinder_Planting.png'|theme }}" />
	        			<span class="card-title pl-2 font-weight-bold">Plant a Native Tree!</span>
	        		</div>
	        		<span class="sp-note">We’re passionate about our environment. For each confirmed booking, we plant a native tree somewhere in Australia.</span>
	        	</div>
        	</div>
        </div>

    </div>
    <div class="w-50 list-group-item-action">
        <form data-request="{{ __SELF__ }}::onFormSubmit" class="frm-question">

		    {{ form_token() }}

		    <div id="{{ __SELF__ }}_forms_flash"></div>

			<div class="row">
			    <div class="form-group col-sm">
			        <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name*">
			    </div>

			    <div class="form-group col-sm" style="padding-left: 0px;">
			        <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name*">
			    </div>
		    </div>

			<div class="row">
			    <div class="form-group col-sm">
			        <input type="text" id="email" name="email" class="form-control" placeholder="Email*">
			    </div>

			    <div class="form-group col-sm" style="padding-left: 0px;">
			        <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone">
			    </div>
		    </div>

			<div class="row">
			    <div class="form-group col-sm">
			        <input type="text" id="dates" name="dates" class="form-control" placeholder="Dates">
			    </div>

			    <div class="form-group col-sm" style="padding-left: 0px;">
			        <input type="text" id="guests" name="guests" class="form-control" placeholder="Guests">
			    </div>
			</div>

		    <div class="form-group">
		        <textarea id="question" name="question" class="form-control" rows="3" cols="72" placeholder="How can we help you?*"></textarea>
		    </div>

		    <div class="form-group">
		    	<input type="checkbox" class="form-checkbox" aria-label="Checkbox for following text input">
		    	<label class="form-label">My dates are flexible</label>
		    </div>

		    <div class="form-group" style="margin-bottom: 16px;">
		    	<input type="checkbox" class="form-checkbox" aria-label="Checkbox for following text input">
		    	<label class="form-label">Receive updates from View Retreats</label>
		    </div>

		    <button id="enquireSubmitButton" type="submit" class="btn-enquire">ENQUIRE</button>
		</form>
    </div>
</div>