==
<div class="search-bar search-main">
  <div class="container page-container">
    <div class="search-block">
      <div class="search-left float-left">
        <input type="search" name="txtsearch" placeholder="Where do you want to go?" class="txtsearch" />
        <input type="text" name="txtcal" class="txtcal" />
        <input type="text" name="txtguests" class="txtguests">
      </div>
      <div class="search-right float-left">
        <button name="btnsearch" class="btn btn-primary btn-search">SEARCH</button>
      </div>
    </div>
  </div>
</div>