
<div id="mySidenav" class="sidenav">
	<div class="nav-block">
	<div class="sn-login-links"> 
  		<img src="{{ 'assets/images/user.png'|theme }}" style="height: 12px;padding-right: 10px;" /><a href="#">Login</a>|<a href="#">Sign Up</a>
  	</div>
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		  <a class="sidenav-links" data-toggle="collapse" data-target="#collapseDestination" role="button" aria-expanded="false" aria-controls="collapseDestination">Destinations</a>
		  <div class="sub-links collapse" id="collapseDestination">
		  	<div class="country">Australia</div>
		  	<ul class="region">
		  		<li><a href="#">New South Wales</a></li>
		  		<li><a href="#">Victoria</a></li>
		  		<li><a href="#">Queensland</a></li>
		  		<li><a href="#">South Australia</a></li>
		  		<li><a href="#">Tasmania</a></li>
		  		<li><a href="#">Western Australia</a></li>
		  		<li><a href="#">Northern Territory</a></li>
		  		<li><a href="#">Australian Capital Territory</a></li>
		  	</ul>
		  	<div class="country">New Zealand</div>
		  	<ul class="region">
		  		<li><a href="#">North Island</a></li>
		  		<li><a href="#">South Island</a></li>
		  	</ul>
		  </div>
		  <a class="sidenav-links"  data-toggle="collapse" data-target="#collapseCollections" role="button" aria-expanded="false" aria-controls="collapseCollections">Collections</a>
		  	<div class="sub-links collapse" id="collapseCollections">
			  <ul class="region">
			  	<li><a href="romantic-getaways" title="">Romantic Getaways</a></li>
				<li><a href="luxury-holiday-homes" title="">Houses &amp; Villas</a></li>
				<li><a href="luxury-cottages-cabins" title="">Cottages &amp; Cabins</a></li>
				<li><a href="luxury-lodges-boutique-hotels" title="">Lodges &amp; Hotels</a></li>
				<li><a href="corporate-retreats" title="">Corporate Retreats</a></li>
				<li><a href="event-wedding-venues" title="">Boutique Events</a></li>
				<li><a href="gourmet-escapes" title="">Gourmet Getaways</a></li>
				<li><a href="pet-friendly-accommodation" title="">Pet Friendly</a></li>
				<li><a href="beach-holidays" title="">Beach Holidays</a></li>
				<li><a href="relaxation-spa-retreats" title="">Spa Retreats</a></li>
				<li><a href="new-luxury-retreats" title="">New Additions</a></li>
				<li><a href="blog/special-offers/" title="">Special Offers</a></li>
			  </ul>
			</div>
		  <a class="sidenav-links" href="#">Gallery</a>
		  <a class="sidenav-links" href="#">Gift Vouchers</a>
		  <a class="sidenav-links" href="#">Contact Us</a>
	</div>
  

	<div class="footer-social">
		<ul>
			<li><a href="#"><img src="{{ 'assets/images/fb.png'|theme }}" /></a></li>
			<li><a href="#"><img src="{{ 'assets/images/twitter.png'|theme }}" /></a></li>
			<li><a href="#"><img src="{{ 'assets/images/youtube.png'|theme }}" /></a></li>
			<li><a href="#"><img src="{{ 'assets/images/ig.png'|theme }}" /></a></li>
			<li><a href="#"><img src="{{ 'assets/images/pi.png'|theme }}" /></a></li>
		</ul>
	</div>

</div>