==
<div class="slider-about-us-story">
    <div class="section-about our-philosophy" id="slide-philosophy" style="background-image: url(https://app.dev.viewretreats.net/storage/app/media/about%20us/image%201.png);">
        <div class="container intro page-container">
            <div class="row">
                <div class="content-our-philosophy col-sm-7">
                    <h2 class="title-our-philosophy">
                        Our Philosophy
                    </h2>
                    <p class="text-our-philosophy m-0">We believe that taking time out to reconnect with your self, those you love and the things that make you smile, is the key to a happy and balanced life. The pace of today’s world means we are always going and rarely slowing to simply appreciate the small details, the simple moments, and the incredible beauty of our planet. What’s more, arranging a well needed getaway is often more stressful than it is relaxing. Our aim is to turn the tide on these trends by making it simple for you to find the highest quality accommodation in the most picturesque locations for you to relax, reconnect & rejuvenate.</p>
                </div>
            </div>
            
            <div class="dots-list">
               <div><a href="#slide-philosophy" onclick="linktab('slide-philosophy')" class="dot action" id="slide-philosophy-tab"></a></div>
               <div><a href="#slide-properties" onclick="linktab('slide-properties')" class="dot" id="slide-properties-tab"></a></div>
               <div><a href="#slide-service"  onclick="linktab('slide-service')" class="dot" id="slide-service-tab"></a></div>
               <div><a href="#slide-team"  onclick="linktab('slide-team')" class="dot" id="slide-team-tab"></a></div>
               <div><a href="#slide-contribution"  onclick="linktab('slide-contribution')" class="dot" id="slide-contribution-tab"></a></div>
            </div>
            <a href="#slide-properties"  onclick="linktab('slide-properties')"  ><img class="icon-left" src="https://app.dev.viewretreats.net/themes/view-retreats/assets/images/bottom-story.png"/></a>
        </div>
        
    </div>
    <div class="section-about our-properties" id="slide-properties" style="background-image: url(https://app.dev.viewretreats.net/storage/app/media/about%20us/Indoor-Fireplace.png);">
        <div class="container intro page-container">
          <div class="dots-list">
             <div><a href="#slide-philosophy" onclick="linktab('slide-philosophy')" class="dot " id="slide-philosophy-tab"></a></div>
             <div><a href="#slide-properties" onclick="linktab('slide-properties')" class="dot action" id="slide-properties-tab"></a></div>
             <div><a href="#slide-service"  onclick="linktab('slide-service')" class="dot" id="slide-service-tab"></a></div>
             <div><a href="#slide-team"  onclick="linktab('slide-team')" class="dot" id="slide-team-tab"></a></div>
             <div><a href="#slide-contribution"  onclick="linktab('slide-contribution')" class="dot" id="slide-contribution-tab"></a></div>
          </div>
          <div class="row">
              <div class="col-md-5"></div>
              <div class="col-md-7 content-our-properties">
                  
                  <div class="wi-our-properties">
                      <h2 class="title-our-properties">
                          Our Properties
                      </h2>
                      <p class="text-our-properties">You might have guessed that we have pretty high standards and we expect that you do too. After decades in the tourism industry (and far too many nights in boring hotel rooms), we know what is out there, what can be expected and how to sort the good from the great, the excellent from the truly exceptional. We hand select our properties, evaluate them against a rigorous set of criteria (including hundreds of guest reviews) and if the property truly is the best of the best, you will find it on View Retreats.</p>
                  </div>
              </div>
          </div>
           <a href="#slide-service" onclick="linktab('slide-service')"><img class="icon-left" src="https://app.dev.viewretreats.net/themes/view-retreats/assets/images/bottom-story.png"/></a>
      </div>
        
    </div>
    <div class="section-about our-service" id="slide-service" style="background-image: url(https://app.dev.viewretreats.net/storage/app/media/about%20us/our-service.png);">
        <div class="container intro page-container">
            <div class="content-our-service">
                <h2 class="title-our-service">
                    Our Service
                </h2>
                <p class="text-our-service">We believe that taking time out to reconnect with your self, those you love and the things that make you smile, is the key to a happy and balanced life. The pace of today’s world means we are always going and rarely slowing to simply appreciate the small details, the simple moments, and the incredible beauty of our planet. What’s more, arranging a well needed getaway is often more stressful than it is relaxing.</p>
            </div>
            <div class="dots-list">
               <div><a href="#slide-philosophy" onclick="linktab('slide-philosophy')" class="dot " id="slide-philosophy-tab"></a></div>
               <div><a href="#slide-properties" onclick="linktab('slide-properties')" class="dot " id="slide-properties-tab"></a></div>
               <div><a href="#slide-service"  onclick="linktab('slide-service')" class="dot action" id="slide-service-tab"></a></div>
               <div><a href="#slide-team"  onclick="linktab('slide-team')" class="dot" id="slide-team-tab"></a></div>
               <div><a href="#slide-contribution"  onclick="linktab('slide-contribution')" class="dot" id="slide-contribution-tab"></a></div>
            </div>
            <a href="#slide-team" onclick="linktab('slide-team')"><img class="icon-left" src="https://app.dev.viewretreats.net/themes/view-retreats/assets/images/bottom-story.png"/></a>
        </div>
        
    </div>
    <div class="section-about our-team" id="slide-team" style="background-image: url(https://app.dev.viewretreats.net/storage/app/media/about%20us/Rectangle%201263.png);">
      <div class="container intro page-container">
          <div class="row">
              <div class="col-md-7 content-our-team">
                  
                  <div class="wi-our-team">
                      <h2 class="title-our-team">
                          Our Team
                      </h2>
                      <p class="text-our-team">We believe that taking time out to reconnect with your self, those you love and the things that make you smile, is the key to a happy and balanced life. The pace of today’s world means we are always going and rarely slowing to simply appreciate the small details, the simple moments, and the incredible beauty of our planet. What’s more, arranging a well needed getaway is often more stressful than it is relaxing. Our aim is to turn the tide on these trends by making it simple for you to find the highest quality accommodation in the most picturesque locations for you to relax, reconnect & rejuvenate.</p>
                  </div>
              </div>
              <a href="#slide-contribution"><img class="icon-left" src="https://app.dev.viewretreats.net/themes/view-retreats/assets/images/bottom-story.png"/></a>
              <div class="dots-list">
                 <div><a href="#slide-philosophy" onclick="linktab('slide-philosophy')" class="dot " id="slide-philosophy-tab"></a></div>
                 <div><a href="#slide-properties" onclick="linktab('slide-properties')" class="dot " id="slide-properties-tab"></a></div>
                 <div><a href="#slide-service"  onclick="linktab('slide-service')" class="dot" id="slide-service-tab"></a></div>
                 <div><a href="#slide-team"  onclick="linktab('slide-team')" class="dot action" id="slide-team-tab"></a></div>
                 <div><a href="#slide-contribution"  onclick="linktab('slide-contribution')" class="dot" id="slide-contribution-tab"></a></div>
              </div>
          </div>
      </div>
        
    </div>
    <div class="section-about our-contribution" id="slide-contribution"  style="background-image: url(https://app.dev.viewretreats.net/storage/app/media/about%20us/Rectangle%201258.png);">
    <div class="container intro page-container">
         <div class="row">
            <div class="col-md-6 content-our-contribution">
                <div class="wi-our-contribution">
                    <h2 class="title-our-contribution">
                        Our Contribution
                    </h2>
                    <p class="text-our-contribution">You might have guessed that we have pretty high standards and we expect that you do too. After decades in the tourism industry (and far too many nights in boring hotel rooms), we know what is out there, what can be expected and how to sort the good from the great, the excellent from the truly exceptional. We hand select our properties, evaluate them against a rigorous set of criteria (including hundreds of guest reviews) and if the property truly is the best of the best, you will find it on View Retreats.</p>
                </div>
            </div>
            <div class="col-md-6 img-our-contribution">
                
                <div class="div-text">
                    <div class="text-plant">PLANT A TREE</div>
                    <div><img style="float: right;padding-right: 10px;" src="https://app.dev.viewretreats.net/themes/view-retreats/assets/images/For%20Me!.png"/></div>
                </div>
                
                <img src="https://app.dev.viewretreats.net/storage/app/media/about%20us/Rectangle%201258.png"/>
            </div>
        </div>
        <div class="dots-list">
           <div><a href="#slide-philosophy" onclick="linktab('slide-philosophy')" class="dot " id="slide-philosophy-tab"></a></div>
           <div><a href="#slide-properties" onclick="linktab('slide-properties')" class="dot " id="slide-properties-tab"></a></div>
           <div><a href="#slide-service"  onclick="linktab('slide-service')" class="dot" id="slide-service-tab"></a></div>
           <div><a href="#slide-team"  onclick="linktab('slide-team')" class="dot" id="slide-team-tab"></a></div>
           <div><a href="#slide-contribution"  onclick="linktab('slide-contribution')" class="dot action" id="slide-contribution-tab"></a></div>
        </div>
    </div>
       
    </div>
</div>