==
<div class="row info-room">
    <div class="col-12 col-md-6">
        <div class="row">
            <div class="col-12 faq-nav" >
                <input type="checkbox" class="d-none checkbox" id="checkbox" onclick="show_faq()">
                <label for="checkbox"><p class="title-faq" for="">Booking Policies</p></label>
                <hr class="line d-none d-md-block">
                <div class="n-block d-none d-md-block info-default">
	        		<div class="">
	        			<img src="{{ 'assets/images/rect1662.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Confirmation</span>
	        			<div class="tooltips"><i class="fa fa-exclamation-circle icon-exclamation"></i>
							<div class="tooltipstext">
							    <div class="mr-para">
								<span class="tooltip-title">Instant Confirmation</span>
    								<div class="">
    									<span class="sp-tooltip">These properties offer realtime rates & availability. Bookings are instantly confirmed upon completion and partial or full payment is processed directly by the property owner within 24 business hours.</span>
    								</div>
								</div>
								<div class="mr-para">
    								<span class="tooltip-title">On Request</span>
    								<div class="">
    									<span class="sp-tooltip">These properties update their rates & availability manually. As such, all information is provided as a guideline only. Requests are sent to the property owner who will confirm exact rates & availability within 24 business hours. You can decide if you’d like to proceed with booking.</span>
    								</div>
								</div>
								<div class="mr-para">
								<span class="tooltip-title">Enquiry Only</span>
    								<div class="">
    									<span class="sp-tooltip">These properties provide rate & availability information on an ‘enquiry only’ basis. You’ll receive an accurate quote for your dates within 24 business hours of your enquiry and any bookings will be processed via email or phone.</span>
    								</div>
								</div>
							</div>
						</div>
	        		</div>
	        		<span class="sp-note">Instant Confirmation</span>
	        	</div>
	        	<div class="n-block d-none d-md-block info-default">
	        		<div class="">
	        			<img src="{{ 'assets/images/minimum -nights.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Minimum Stay Requirement</span>
	        			<div class="tooltips"><i class="fa fa-exclamation-circle icon-exclamation"></i>
							<div class="tooltipstext">
								<span class="tooltip-title">Minimum Stay Requirement</span>
								<div class="">
									<span class="sp-tooltip">Some properties enforce a minimum stay duration, especially over weekends and popular holidays. You are welcome to stay for a shorter duration, however you will still incur the cost of the minimum stay requirement.</span>
								</div>
							</div>
						</div>
	        		</div>
	        		<span class="sp-note">2-4 nights (depending on the season)</span>
	        	</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        
    </div>
</div>




<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
  <div class="row faq">
	  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
		  <div class="panel-heading p-3" role="tab" id="heading0">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
				Booking Policies
			  </a>
			</h3>
		  </div>
		  <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
			<div class="panel-body px-3 mb-4">
			  <div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/rect1662.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Confirmation</span>
	        			<div class="tooltips"><i class="fa fa-exclamation-circle icon-exclamation"></i>
							<div class="tooltipstext">
							    <div class="mr-para">
								<span class="tooltip-title">Instant Confirmation</span>
    								<div class="">
    									<span class="sp-tooltip">These properties offer realtime rates & availability. Bookings are instantly confirmed upon completion and partial or full payment is processed directly by the property owner within 24 business hours.</span>
    								</div>
								</div>
								<div class="mr-para">
    								<span class="tooltip-title">On Request</span>
    								<div class="">
    									<span class="sp-tooltip">These properties update their rates & availability manually. As such, all information is provided as a guideline only. Requests are sent to the property owner who will confirm exact rates & availability within 24 business hours. You can decide if you’d like to proceed with booking.</span>
    								</div>
								</div>
								<div class="mr-para">
								<span class="tooltip-title">Enquiry Only</span>
    								<div class="">
    									<span class="sp-tooltip">These properties provide rate & availability information on an ‘enquiry only’ basis. You’ll receive an accurate quote for your dates within 24 business hours of your enquiry and any bookings will be processed via email or phone.</span>
    								</div>
								</div>
							</div>
						</div>
	        		</div>
	        		<span class="sp-note">Instant Confirmation</span>
	        	</div>
	        	<div class="n-block">
	        		<div class="">
	        			<img src="{{ 'assets/images/minimum -nights.png'|theme }}" />
	        			<span class="card-title font-weight-bold">Minimum Stay Requirement</span>
	        			<div class="tooltips"><i class="fa fa-exclamation-circle icon-exclamation"></i>
							<div class="tooltipstext">
								<span class="tooltip-title">Minimum Stay Requirement</span>
								<div class="">
									<span class="sp-tooltip">Some properties enforce a minimum stay duration, especially over weekends and popular holidays. You are welcome to stay for a shorter duration, however you will still incur the cost of the minimum stay requirement.</span>
								</div>
							</div>
						</div>
	        		</div>
	        		<span class="sp-note">2-4 nights (depending on the season)</span>
	        	</div>
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3" role="tab" id="heading1">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
				How easy is it to build a website with Solodev CMS?
			  </a>
			</h3>
		  </div>
		  <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
			<div class="panel-body px-3 mb-4">
			  <p>Building a website is extremely easy. With a working knowledge of HTML and CSS you will be able to have a site up and running in no time.</p>
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3" role="tab" id="heading2">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
				What is the uptime for Solodev CMS?
			  </a>
			</h3>
		  </div>
		  <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
			<div class="panel-body px-3 mb-4">
			  <p>Using Amazon AWS technology which is an industry leader for reliability you will be able to experience an uptime in the vicinity of 99.95%.</p>
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3" role="tab" id="heading3">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
				Can Solodev CMS handle multiple websites for my company?
			  </a>
			</h3>
		  </div>
		  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
			<div class="panel-body px-3 mb-4">
			  <p>Yes, Solodev CMS is built to handle the needs of any size company. With our Multi-Site Management, you will be able to easily manage all of your websites.</p>
			</div>
		  </div>
		</div>
	  </div>
  
  </div>
</section>
<style>
.panel.panel-default {
    border-bottom: 0.5px solid #AAAAAA;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    padding: 0;
    position: relative;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #323A45;
    text-decoration: none;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: " ";
    color: #1f7de2;
    float: right;
    margin-top: -12px;
    background: url(https://app.dev.viewretreats.net/themes/view-retreats/assets/images/arrow-up-blue.png);
    background-repeat: no-repeat;
    background-size: 13px;
    width: 15px;
    height: 15px;
    background-position-x: 0;
    background-position-y: 0;
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: " ";
    background: url(https://app.dev.viewretreats.net/themes/view-retreats/assets/images/arrow-down-gray.png);
    background-repeat: no-repeat;
    background-size: 13px;
    width: 15px;
    height: 15px;
    background-position-x: 0;
    background-position-y: 0;
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
}
.accordion-section .panel-default .panel-body {
    font-size: 1.2rem;
}
#accordion {
    margin-left: 0px;
}
p.title-faq {
    color: #323A45;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 0px;
}
.row.info-room{
    padding: 0 4.5%;
}
</style>
<script>
    function show_faq(){
        if($('#checkbox').is(':checked')){
            $('.info-default').removeClass('d-none');
            $('.info-default').addClass('d-block');
        }else{
            $('.info-default').removeClass('d-block');
            $('.info-default').addClass('d-none');
        }
    }
</script>