==
<form data-request="{{ __SELF__ }}::onFormSubmit">

{{ form_token() }}
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" id="contact-booking-first-name" name="contact-booking-first-name" class="form-control" placeholder="First Name*">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" id="contact-booking-last-name" name="contact-booking-last-name" class="form-control" placeholder="Last Name*">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <input type="text" id="contact-booking-email" name="contact-booking-email" class="form-control" placeholder="Email*">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <textarea class="form-control" id="contact-booking-help" name="contact-booking-help" placeholder="How can we help you?*"></textarea>
            </div>
        </div>
        <div class="col-sm-12">
             <label class="con mb-2">Receive update from View Retreats<input type="checkbox" ><span class="checkmark"></span></label>
        </div>
        <div class="col-sm-12">
             <button type="button" class="btn form-control">Enquire</button>
        </div>
    </div>
</form>