==
<div id="footer">
    <div class="container page-container">
        <div class="row">
        	<div class="col">
        	    <h4 class="d-none d-sm-block">Subscribe to receive updates & exclusive special offers!</h4>
			    <h4 class="d-sm-none">Subscribe to receive our latest news & offers!</h4>
        	</div>
        </div>
        <div class="subscribe-block">
			<form method="post" class="d-sm-flex">
    			 <div class="subcribe-left">
    			     <input type="text" class="form-control" id="txtfname" placeholder="First Name">
        			 <input type="text" class="form-control" id="txtlname" placeholder="Last Name">
        			 <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email Address">
    			 </div>
    			 <div class="search-right">
                    <input type="submit" class="btn btn-primary btn-email" value="Subscribe">
                  </div>
    			 
			</form>
		</div>

        <div class="footer-bottom">
            <div class="row ">
            	<div class="col-12 col-md-8 d-none d-sm-block">
            		<div class="footer-links">
    	        		<ul>
    	        			<li><a href="/about-us">About</a></li>
    	        			<li><a href="/search">Search</a></li>
    	        			<li><a href="/contact">Support</a></li>
    	        			<li><a href="/about-us#terms-conditions">Terms</a></li>
    	        		</ul>
            		</div>
            	</div>
            	<div class="col-12 col-md-4 text-right">
            		<div class="footer-social">
                		<ul>
                			<li class="li-res-mobile"><a href="#"><img src="{{ 'assets/images/fb1.png'|theme }}" /></a></li>
                			<li class="li-res-mobile"><a href="#"><img src="{{ 'assets/images/twitter.png'|theme }}" /></a></li>
                			<li class="li-res-mobile"><a href="#"><img src="{{ 'assets/images/youtube.png'|theme }}" /></a></li>
                			<li class="li-res-mobile"><a href="#"><img src="{{ 'assets/images/ig.png'|theme }}" /></a></li>
                			<li class="li-res-mobile"><a href="#"><img src="{{ 'assets/images/pi.png'|theme }}" /></a></li>
                		</ul>
            		</div>
            	</div>
            </div>
        </div>
        <div class="d-sm-none">
            <div class="footer-links">
        		<ul>
        			<li><a href="/about-us">About</a></li>
        			<li><a href="/search">Search</a></li>
        			<li><a href="/contact">Support</a></li>
        			<li><a href="/about-us#terms-conditions">Terms</a></li>
        		</ul>
    		</div>
        </div>
        
    </div>
    <p class="copyright text-center">© View Retreats Pty. Ltd. ABN. 56 219 876 466</p>
    <!-- <p class="muted credit">&copy; 2013 - {{ "now"|date("Y") }} Alexey Bobkov &amp; Samuel Georges.</p> -->

</div>