==
<div id="footer-checkout">
    <div class="container">
        
        <div class="row footer-checkout">

        	<div class="col-4">
                <img src="{{ 'assets/images/Book-Securely-checkout.png'|theme }}"  /><span> Best Price Guarantee</span>
        	</div>
            <div class="col-4">
                <img src="{{ 'assets/images/hand-checkout.png'|theme }}" /><span>We'll Plant A Native Tree!</span>
            </div>
            <div class="col-4">
                <img src="{{ 'assets/images/Australia-map-checkout.png'|theme }}" /><span>We're Proudly <br class="d-md-none">Australian Made</span>
            </div>
        </div>

    </div>
</div>