==
<div class="note-detail">
    <ul class="list-unstyled list-item-feature">
     <li>
         <div class="note-img"><img src="{{ 'assets/images/icon-profile/iconfinder_Hotel_Key_Keys_Room_5396114.svg'|theme }}" class="icon"/></div>
         
         <div class="card-note">
             <div class="card-title "> Check-in</div>
    	     <ul class="list-unstyled">
    	         <li><span class="card-content ">Check-in from 3.00pm - 10.00pm</span></li>
    	         <li><span class="card-content ">Minimum check-in age - 18</span></li>
    	     </ul>
         </div>
     </li>
     <li>
         <div class="note-img"> <img src="{{ 'assets/images/icon-profile/iconfinder__property_care_1929371.svg'|theme }}" class="icon" /></div>
         <div class="card-note">
             <div class="card-title ">Check-out</div>
             <ul class="list-unstyled">
    	         <li><span class="card-content ">Check-out before 10.00am</span></li>
    	     </ul>
         </div>
     </li>
     <li>
         <div class="note-img"><img src="{{ 'assets/images/icon-profile/iconfinder_Hotel_service_television_Check_in_5396109.svg'|theme }}" class="icon"/></div>
         <div class="card-note">
             <div class="card-title ">Arrival Information</div>
             <ul class="list-unstyled">
    	         <li><span class="card-content card-content-line24">There is no front desk at this property. The check-in location differs from the property location. To check in, go to 14 Vincent St Daylesford. To make arrangements for check-in, please contact the property ahead of time using the information on the booking confirmation. Guests will receive an email with special check-in instructions. For more details, please contact the property using the information on the booking confirmation.</span></li>
    	         <li><span class="card-content card-content-line24">Guests will receive an email with instructions for check-in and advance authorization refundable security deposit after booking.</span></li>
    	     </ul>
         </div>
     </li>
     <li>
         <div class="note-img"><img src="{{ 'assets/images/icon-profile/iconfinder_14-baby-boy-smilling_1534214.svg'|theme }}" class="icon" width="24" /></div>
         
         <div class="card-note">
             <span class="card-title "> Children & Extra Beds</span>
    	     <ul class="list-unstyled">
    	         <li><span class="card-content ">Children are welcome</span></li>
    	         <li><span class="card-content ">Free cribs/infant beds</span></li>
    	         <li><span class="card-content ">No rollaway beds are available</span></li>
    	     </ul>
         </div>
         
     </li>
     <li>
         <div class="note-img"><img src="{{ 'assets/images/icon-profile/iconfinder__dachshund_1883043.svg'|theme }}" class="icon"  width="25"/></div>
         
    	<div class="card-note">
    	    <span class="card-title "> Pets & Service Animals</span>
    	    <ul class="list-unstyled">
    	         <li><span class="card-content ">Pets not allowed (service animals welcome)</span></li>
    	     </ul>
             
         </div>
     </li>
     <li>
         <div class="note-img"> <img src="{{ 'assets/images/icon-profile/iconfinder__credit_card_2010440.svg'|theme }}"  class="icon" width="25"/></div>
        
    	<div class="card-note">
    	    <span class="card-title "> Payment Methods</span>
    	    <div class="card-content ">
                 <img src="{{ 'assets/images/payment-method.png'|theme }}" />
             </div>
         </div>
         
     </li>
     <li>
         <div class="note-img"><img src="{{ 'assets/images/icon-profile/iconfinder__dollar_coin_2010471.svg'|theme }}" class="icon" width="25" height="25"/></div>
         
    	<div class="card-note">
    	    <span class="card-title "> Mandatory Fees </span>
    	    <span class="card-content ">You’ll be asked to pay the following charges at the property:</span>
    	    <ul class="list-unstyled">
    	         <li><span class="card-content ">Deposit AUD 500 per stay</span></li>
    	     </ul>
    	     <span class="card-content ">We have included all charges provided to us by the property. However, charges can vary, for example, based on length of stay or the room you book.</span>
         </div>
     </li>
     <li>
         <div class="note-img"><img src="{{ 'assets/images/priceguarante.png'|theme }}" class="icon" /></div>
         
    	<div class="card-note">
    	    <span class="card-title ">Optional Extras</span>
    	    <span class="card-content">The following fees and deposits are charged by the property at time of service, check-in, or check-out.</span>
    	    <ul class="list-unstyled">
    	         <li><span class="card-content ">Airport shuttle fee: AUD 22 per person</span></li>
    	         <li><span class="card-content ">Self parking fee: AUD 35 per day</span></li>
    	         <li><span class="card-content ">Rollaway bed fee: AUD 50.0 per night</span></li>
    	         <li><span class="card-content ">Credit card charges are subject to a surcharge</span></li>
    	      </ul>
    	      <span class="card-content">The above list may not be comprehensive. Fees and deposits may not include tax and are subject to change.</span>
         </div>
     </li>
     <li>
         <div class="note-img"><img src="{{ 'assets/images/icon-profile/iconfinder_Terms_Service_512x512_3576902.svg'|theme }}" class="icon" width="24"/></div>
         
    	<div class="card-note card-note-last">
    	    <span class="card-title "> General Information</span>
    	    <ul class="list-unstyled">
    	         <li><span class="card-content ">Extra-person charges may apply and vary depending on property policy. </span></li>
    	         <li><span class="card-content ">Government-issued photo identification and a credit card, debit card, or cash deposit are required at check-in for incidental charges.</span></li>
    	         <li><span class="card-content ">Special requests are subject to availability upon check-in and may incur additional charges. Special requests cannot be guaranteed. </span></li>
    	         <li><span class="card-content card-content-line24">Safety features at this property include a fire extinguisher and a smoke detector.  Please note that cultural norms and guest policies may differ by country and by property. The policies listed are provided by the property. </span></li>
    	      </ul>
         </div>
     </li>
      <li>
          <div class="note-img"><img src="{{ 'assets/images/icon-profile/iconfinder__warning_1946552.svg'|theme }}" class="icon" /></div>
         
    	<div class="card-note">
    	    <span class="card-title "> You Should Know</span>
    	    <ul class="list-unstyled">
    	         <li><span class="card-content card-content-line24">This property's policy is to refuse certain bookings for the purpose of group events or parties, including pre-wedding stag/bachelor and hen/bachelorette parties. </span></li>
    	      </ul>
         </div>
     </li>
    </ul>
</div>