==
<div class='popover-price-detail'>
    <div class='box-accommodation' >
        <div class='item-accommodation'>
            <span class='item-date'>
                1 room x 2 nights
            </span>
            <span>
                AU$2,000
            </span>
        </div>
        <div class='item-accommodation'>
            <span class='item-date'>
                Taxes & fees
            </span>
            <span>
                AU$250
            </span>
        </div>
        <div class='item-accommodation'>
            <a href='#' type='button' class='btn' >Reserve</a>
        </div>
        
    </div>
    
</div>