==
<div  class="property-details">
    <div class="row">
        <div class="col-md-6 order-2 order-sm-1">
            <div class="item-profile">
                 <h5 class="carousel-title">About This Property</h5>
                <p>
                    With a stay at InterContinental Hayman Island Resort in Hayman Island, you'll be on the beach, just steps from Coral Sea.  This 5-star resort is within close proximity of Hayman Island Reef and Whitsunday Lookout. 
                </p>
                <p>
                 Make yourself at home in one of the 166 air-conditioned rooms featuring iPads and minibars. Your pillowtop bed comes with premium bedding. Rooms have private balconies or patios. LCD televisions with satellite programming provide entertainment, while complimentary wireless Internet access keeps you connected.
                </p>
                <div class="text-right">
                    <a href="#" class="card-link">Read more <img class="icon-blue" src="{{ 'assets/images/icon-blue.png'|theme }}" /></a>
                </div>
                
            </div>
           <div class="item-profile">
                 <h5 class="carousel-title">All-inclusive details</h5>
                <p>
                   All-inclusive room rates at Emirates One&Only Wolgan Valley Australia are available. These rates are higher because they include on-site food and beverages in the room rate (some restrictions may apply).
                </p>
                
                <div class="text-right">
                    <a href="#" class="card-link ">Read more <img class="icon-blue" src="{{ 'assets/images/icon-blue.png'|theme }}" /></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 order-1 order-sm-2">
            <div class="list-feature">
                <h5 class="carousel-title">Features</h5>
                <ul class = "list-unstyled list-item-feature">
                     <li>
                         <span class="card-img"><img src="{{ 'assets/images/icon-profile/iconfinder_WIFI_379659.svg'|theme }}" /></span>
                         
    		        	<span class="card-content ">Free WiFi</span>
                     </li>
                     <li>
                      <span class="card-img"><img src="{{ 'assets/images/icon-profile/iconfinder_Food_hotel_restaurant_service_Citycons_5396099.svg'|theme }}" /></span>
                         
    		        	<span class="card-content ">Breakfast </span>
                     </li>
                     <li>
                     <span class="card-img"><img src="{{ 'assets/images/icon-profile/iconfinder_Food_hotel_restaurant_service_Citycons_5396099.svg'|theme }}" /></span>
                         
    		        	<span class="card-content ">Restaurant</span>
                     </li>
                     <li>
                          <span class="card-img">
                         <img src="{{ 'assets/images/car.svg'|theme }}"  /></span>
    		        	<span class="card-content ">Free parking</span>
                     </li>
                     <li>
                          <span class="card-img">
                         <img src="{{ 'assets/images/car.svg'|theme }}"  /></span>
    		        	<span class="card-content">Pool</span>
                     </li>
                     <li>
                          <span class="card-img"><img src="{{ 'assets/images/car.svg'|theme }}" /></span>
                         
    		        	<span class="card-content ">All-inclusive</span>
                     </li>
                 </ul>
                 <div class="text-right mt-2">
                    <a href="#nav-amenities" id="btn-nav-amenities" class="card-link ">All amenities <img class="icon-blue" src="{{ 'assets/images/icon-blue.png'|theme }}" /></a>
                </div>
            </div>  
            <div class="list-attractions">
                <h5 class="carousel-title">Nearby Attractions</h5>
                <ul class="list-unstyled list-style-dot">
                     <li>
                         <span class="card-content "> King Street Wharf - 0.2 km</span>
                     </li>
                     <li>
                    	<span class="card-content ">King Street Wharf - 0.2 km</span>
                     </li>
                     <li>
                         <span class="card-content ">SEA LIFE Sydney Aquarium - 0.3 km</span>
                     </li>
                 </ul>
                 <div class="text-right">
                    <a href="#nav-location" class="card-link" id="btn-nav-location">All attractions <img class="icon-blue" src="{{ 'assets/images/icon-blue.png'|theme }}" /></a>
                </div>
            </div>  
        </div>
        
    </div>
</div>