==
<?php
use ViewRetreats\Favourites\Models\Favourite;
use Expedia\ExpediaImport\Models\Property;
function onStart()
{
     $user = $this->account->user();
    if ($user) {
        $favourites = Favourite::where('user_id', '=', $this['user']->id)
                  ->leftJoin('expedia_expediaimport_properties' , 'expedia_expediaimport_properties.property_id', '=', 'viewretreats_favourites_list.product_id')
                  ->get();
        $favourites_id = [];
        foreach ($favourites as $key => $favourite) {
          $favourites_id[] = $favourite->property_id;
        }
        $this['favourites_property_id'] = $favourites_id;
    }
}
?>
==
{% if favourites_property_id is empty %}
  <div class="container-fuild background-requied-login" >
    <div class="container" >
        <div id="requied-login">
            <div class="requied-login-favourite mb-4" >
            <div class="img-left mr-4 ml-2">
                  <img src="{{ 'assets/images/wishlist.png'|theme }}" />
              </div>
              <div class="img-right">
                <h5 class="mb-2">Save your favourites</h5>
              <p class="text-requied-login-favourite mb-0">
                  Use the heart icon to save your favourite properties and then you can find them here again later
              </p>
            </div>
            <div class="close-form"></div>
          </div>
        </div>
      <div class="row">
          <div class="col-sm-4">
              <div class="mb-5">
                    <a href="{{ 'search'|page }}"><button type="button" class="btn form-control" >Add properties</button></a>
                </div>
          </div>
      </div>
    </div>
  </div>

{% else %}
  {% for favourites in favourites_property_id %}
    <div class="col-xs-12 col-sm-6">
        <div class="card card-height-landing" >
            <div class="collection-landing-post">
              <div class="image-block">
                <div class="gallery search-slider" >
                     <div class="img-block" style="background: url('');">
                     </div>
                </div>
              </div>
                	<i user_id='{{ user.id }}' product_id='{{ favourites.id }}' class="user-bookmark fa fa-heart hover-fa-heart"   style="z-index: 1;">
                	</i>
            </div>
            <div class="card-body" data-id="">
                 <div class="clearfix">
                     <div class="info-left">
                          <p class="landing_name">{{ favourites.name }}</p>
                          <p class="landing_address">region , state, country</p>
                     </div>
                     <div class="info-right pull-right text-right  d-none d-lg-block">
                           <div class="rate-count"><span>property.ratings</span>/5 </div>
                           <div class="rate-star">
                              <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                              <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                              <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                              <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                              <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                           </div>
                          <p>Exceptional</p>
                          <span class="count-review"property.reviews reviews</span>
                      </div>
                 </div>
                 <div class="ladding-info d-flex justify-content-between justify-content-lg-end align-items-center">
                      <div class="d-lg-none pull-left">
                           <div class="info-left ">
                                <div class="d-flex justify-content-start align-items-center">
                                      <div class="rate-count"><strong>{{property.ratings}}</strong> </div>
                                      <div class="rate-star mb-1 ml-1">
                                            <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                            <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                            <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                            <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                            <span class="item-star"><img src="{{ 'assets/images/star-active.png'|theme }}"></span>
                                      </div>
                                </div>
                                <div class="box-count-review">
                                      <span>Exceptional</span>
                                      <small class="count-review">(property.reviews reviews)</small>
                                </div>

                  </div>
            </div>
            <div class="ladding-info">
                 <div class="text-right">
                      <div class="clearfix">
                            <button class="btn">Learn more</button>
                      </div>
                 </div>
            </div>
        </div>
      </div>
         </div>
      </div>
  {% endfor %}

{% endif %}