==
<div id="mySidenav" class="sidenav" >
	<div class="nav-block">
        <div class="sn-login-links"> 
            <div class="nav-icons-block">
                <div class="nav-icon"> <span>Main Menu</span> </div> 
            </div>
          	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          </div>
		  
		  
		  <div id="accordion" class="nav-accordion" style="margin-left: 0px;">
		          <a class="sidenav-links destinations_id" id="destinations_id" data-toggle="collapse" data-target="#collapseDestination" role="button" aria-expanded="false" aria-controls="collapseDestination">Destinations
		              <div class="image-icon-arrow-down-des"></div>
		              <div class="image-icon-arrow-up-des"></div>
		          </a>
		         
        		  <div class="sub-links collapse" id="collapseDestination" style="padding-top: 5px;">
        		  	<div class="country">
        		  	    <span><a href="/australia-luxury-accommodation">Australia</a> </span>
        		  	    <ul class="region">
            		  		<li><a href="/nsw-luxury-accommodation">New South Wales</a></li>
            		  		<li><a href="/vic-luxury-accommodation">Victoria</a></li>
            		  		<li><a href="/qld-luxury-accommodation">Queensland</a></li>
            		  		<li><a href="/sa-luxury-accommodation">South Australia</a></li>
            		  		<li><a href="/tas-luxury-accommodation">Tasmania</a></li>
            		  		<li><a href="/wa-luxury-accommodation">Western Australia</a></li>
            		  		<li><a href="/nt-luxury-accommodation">Northern Territory</a></li>
            		  		<li><a href="/act-luxury-accommodation">Australian Capital Territory</a></li>
            		  	</ul>
        		  	</div>
        		  	
        		  	<div class="country">
        		  	    <span><a href="/nz-luxury-accommodation"> New Zealand</a></span>
        		  	    <ul class="region">
            		  		<li><a href="/north-island-luxury-accommodation">North Island</a></li>
            		  		<li><a href="/south-island-luxury-accommodation">South Island</a></li>
            		  	</ul>
        		  	</div>
        		  	
        		  </div>
        		  <a class="sidenav-links collections_id" id="collections_id" style="margin-top: -1px;"  data-toggle="collapse" data-target="#collapseCollections" role="button" aria-expanded="false" aria-controls="collapseCollections">Collections
        		      <div class="image-icon-arrow-down-col"></div>
        		      <div class="image-icon-arrow-up-col"></div>
        		  </a>
		  
		  	<div class="sub-links collapse" id="collapseCollections" style="padding-top: 5px; ">
			  <ul class="region">
			  	<li><a href="romantic-getaways" title="">Romantic Getaways</a></li>
				<li><a href="family-holidays" title="">Family Holidays</a></li>
				<li><a href="corporate-retreats" title="">Corporate Retreats</a></li>
				<li><a href="event-wedding-venues" title="">Weddings & Events</a></li>
				<li><a href="beach-holidays" title="">Beach Holidays</a></li>
				<li><a href="unique-accommodation" title="">Unique Escapes</a></li>
				<li><a href="pet-friendly-accommodation" title="">Pet Friendly</a></li>
			  </ul>
			</div>
		  <a class="sidenav-links" style="margin-top: -1px;" href="{{ 'gallery'|page }}">Gallery</a>
		  <a class="sidenav-links" style="margin-top: -1px;" href="{{ 'blog'|page }}">Inspiration</a>
		  <a class="sidenav-links" href="{{ 'gift-voucher'|page }}">Gift Vouchers</a>
		  <a class="sidenav-links" href="{{ 'contact'|page }}">Contact Us</a>
		</div>
	</div>
  

	<div class="footer-social">
		<ul>
			<li><a href="https://www.facebook.com/ViewRetreats/"><img src="{{ 'assets/images/fb@2x.png'|theme }}" width="30" /></a></li>
			<li><a href="https://twitter.com/viewretreats"><img src="{{ 'assets/images/twitter.png'|theme }}" /></a></li>
			<li><a href="https://www.youtube.com/viewretreats"><img src="{{ 'assets/images/youtube.png'|theme }}" /></a></li>
			<li><a href="https://www.instagram.com/viewretreats/"><img src="{{ 'assets/images/ig.png'|theme }}" /></a></li>
			<li><a href="https://www.pinterest.com.au/viewretreats/"><img src="{{ 'assets/images/pi.png'|theme }}" /></a></li>
		</ul>
	</div>

</div>
<!-- modal login -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  {% partial 'popup/popup-login'%}
</div>

<!-- modal sign up -->
<div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	{% partial 'popup/popup-signup-nelson-test'%}
</div>

 <script src="https://apis.google.com/js/platform.js?onload=renderButton"></script>