[jsonLdList]
escape = 0
==
<div class="slider-about-us-FQA">
	<span>Frequenty Asked Questions</span>
	<img src="https://app.dev.viewretreats.net/storage/app/media/about%20us/Frequenty-Asked-Questions.png">
</div>
<div class="container" >
	<div class="row about-us-FQA-booking">
		<div class="col align-gift-vouchers-box-3">
		<h3>About Bookings & Requests</h3>

		<button class="accordion">What is the process for an 'Instant Confirmation' booking?
			
			<img class="icon-accordion-elip-1" src="{{ 'assets/images/plus-icon.png'|theme }}" />
		</button>
		<div class="panel">
			<div class="">
				<table >
					<tr>
						<td>
							<p class="panel-content-main">When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.<br><br>

							You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy. <br><br>

							We highly recommend travel insurance to cover any unforeseen circumstances. <br><br>

							Have further questions? Please chat with us for more details.</p>
						</td>
						<td>
							<img class="icon-accordion-sub-1" style="margin-right: 15px;" src="{{ 'assets/images/substract-icon.png'|theme }}" />
						</td>
					</tr>
				</table>
			</div> 
		</div>

		<button class="accordion">What is the process for an 'On Request' booking?
			
			<img class="icon-accordion-elip-2" src="{{ 'assets/images/plus-icon.png'|theme }}" />
		</button>
		<div class="panel">
		  <div class="">
				<table >
					<tr>
						<td>
							<p class="panel-content-main">When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.<br><br>

							You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy. <br><br>

							We highly recommend travel insurance to cover any unforeseen circumstances. <br><br>

							Have further questions? Please chat with us for more details.</p>
						</td>
						<td>
							<img class="icon-accordion-sub-1" style="margin-right: 15px;" src="{{ 'assets/images/substract-icon.png'|theme }}" />
						</td>
					</tr>
				</table>
			</div> 
		</div>

		<button class="accordion">What is the process for an 'Enquiry Only' booking?
			
			<img class="icon-accordion-elip-3" src="{{ 'assets/images/plus-icon.png'|theme }}" />
		</button>
		<div class="panel">
		  <div class="">
				<table >
					<tr>
						<td>
							<p class="panel-content-main">When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.<br><br>

							You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy. <br><br>

							We highly recommend travel insurance to cover any unforeseen circumstances. <br><br>

							Have further questions? Please chat with us for more details.</p>
						</td>
						<td>
							<img class="icon-accordion-sub-1" style="margin-right: 15px;" src="{{ 'assets/images/substract-icon.png'|theme }}" />
						</td>
					</tr>
				</table>
			</div> 
		</div>

		<button class="accordion">Will I get the best rates? What is the 'Price Guarantee'?
			
			<img class="icon-accordion-elip-4" src="{{ 'assets/images/plus-icon.png'|theme }}" />
		</button>
		<div class="panel">
		  <div class="">
				<table >
					<tr>
						<td>
							<p class="panel-content-main">When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.<br><br>

							You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy. <br><br>

							We highly recommend travel insurance to cover any unforeseen circumstances. <br><br>

							Have further questions? Please chat with us for more details.</p>
						</td>
						<td>
							<img class="icon-accordion-sub-1" style="margin-right: 15px;" src="{{ 'assets/images/substract-icon.png'|theme }}" />
						</td>
					</tr>
				</table>
			</div> 
		</div>
	</div>
	</div>
	<div class="row about-us-FQA-payment">
		<div class="col align-gift-vouchers-box-3">
		<h3>About Payments & Fees</h3>

		<button class="accordion">What is the process for an 'Instant Confirmation' booking?
			
			<img class="icon-accordion-elip-1" src="{{ 'assets/images/plus-icon.png'|theme }}" />
		</button>
		<div class="panel">
			<div class="">
				<table >
					<tr>
						<td>
							<p class="panel-content-main">When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.<br><br>

							You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy. <br><br>

							We highly recommend travel insurance to cover any unforeseen circumstances. <br><br>

							Have further questions? Please chat with us for more details.</p>
						</td>
						<td>
							<img class="icon-accordion-sub-1" style="margin-right: 15px;" src="{{ 'assets/images/substract-icon.png'|theme }}" />
						</td>
					</tr>
				</table>
			</div> 
		</div>

		<button class="accordion">What is the process for an 'On Request' booking?
			
			<img class="icon-accordion-elip-2" src="{{ 'assets/images/plus-icon.png'|theme }}" />
		</button>
		<div class="panel">
		  <div class="">
				<table >
					<tr>
						<td>
							<p class="panel-content-main">When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.<br><br>

							You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy. <br><br>

							We highly recommend travel insurance to cover any unforeseen circumstances. <br><br>

							Have further questions? Please chat with us for more details.</p>
						</td>
						<td>
							<img class="icon-accordion-sub-1" style="margin-right: 15px;" src="{{ 'assets/images/substract-icon.png'|theme }}" />
						</td>
					</tr>
				</table>
			</div> 
		</div>

		<button class="accordion">What is the process for an 'Enquiry Only' booking?
			
			<img class="icon-accordion-elip-3" src="{{ 'assets/images/plus-icon.png'|theme }}" />
		</button>
		<div class="panel">
		  <div class="">
				<table >
					<tr>
						<td>
							<p class="panel-content-main">When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.<br><br>

							You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy. <br><br>

							We highly recommend travel insurance to cover any unforeseen circumstances. <br><br>

							Have further questions? Please chat with us for more details.</p>
						</td>
						<td>
							<img class="icon-accordion-sub-1" style="margin-right: 15px;" src="{{ 'assets/images/substract-icon.png'|theme }}" />
						</td>
					</tr>
				</table>
			</div> 
		</div>

		<button class="accordion">Will I get the best rates? What is the 'Price Guarantee'?
			
			<img class="icon-accordion-elip-4" src="{{ 'assets/images/plus-icon.png'|theme }}" />
		</button>
		<div class="panel">
		  <div class="">
				<table >
					<tr>
						<td>
							<p class="panel-content-main">When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.<br><br>

							You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy. <br><br>

							We highly recommend travel insurance to cover any unforeseen circumstances. <br><br>

							Have further questions? Please chat with us for more details.</p>
						</td>
						<td>
							<img class="icon-accordion-sub-1" style="margin-right: 15px;" src="{{ 'assets/images/substract-icon.png'|theme }}" />
						</td>
					</tr>
				</table>
			</div> 
		</div>
	</div>
	</div>
	<div class="row about-us-FQA-gift">
		<div class="col align-gift-vouchers-box-3">
		<h3>About Gift Vouchers</h3>

		<button class="accordion">What is the process for an 'Instant Confirmation' booking?
			
			<img class="icon-accordion-elip-1" src="{{ 'assets/images/plus-icon.png'|theme }}" />
		</button>
		<div class="panel">
			<div class="">
				<table >
					<tr>
						<td>
							<p class="panel-content-main">When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.<br><br>

							You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy. <br><br>

							We highly recommend travel insurance to cover any unforeseen circumstances. <br><br>

							Have further questions? Please chat with us for more details.</p>
						</td>
						<td>
							<img class="icon-accordion-sub-1" style="margin-right: 15px;" src="{{ 'assets/images/substract-icon.png'|theme }}" />
						</td>
					</tr>
				</table>
			</div> 
		</div>

		<button class="accordion">What is the process for an 'On Request' booking?
			
			<img class="icon-accordion-elip-2" src="{{ 'assets/images/plus-icon.png'|theme }}" />
		</button>
		<div class="panel">
		  <div class="">
				<table >
					<tr>
						<td>
							<p class="panel-content-main">When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.<br><br>

							You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy. <br><br>

							We highly recommend travel insurance to cover any unforeseen circumstances. <br><br>

							Have further questions? Please chat with us for more details.</p>
						</td>
						<td>
							<img class="icon-accordion-sub-1" style="margin-right: 15px;" src="{{ 'assets/images/substract-icon.png'|theme }}" />
						</td>
					</tr>
				</table>
			</div> 
		</div>

		<button class="accordion">What is the process for an 'Enquiry Only' booking?
			
			<img class="icon-accordion-elip-3" src="{{ 'assets/images/plus-icon.png'|theme }}" />
		</button>
		<div class="panel">
		  <div class="">
				<table >
					<tr>
						<td>
							<p class="panel-content-main">When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.<br><br>

							You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy. <br><br>

							We highly recommend travel insurance to cover any unforeseen circumstances. <br><br>

							Have further questions? Please chat with us for more details.</p>
						</td>
						<td>
							<img class="icon-accordion-sub-1" style="margin-right: 15px;" src="{{ 'assets/images/substract-icon.png'|theme }}" />
						</td>
					</tr>
				</table>
			</div> 
		</div>

		<button class="accordion">Will I get the best rates? What is the 'Price Guarantee'?
			
			<img class="icon-accordion-elip-4" src="{{ 'assets/images/plus-icon.png'|theme }}" />
		</button>
		<div class="panel">
		  <div class="">
				<table >
					<tr>
						<td>
							<p class="panel-content-main">When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.<br><br>

							You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy. <br><br>

							We highly recommend travel insurance to cover any unforeseen circumstances. <br><br>

							Have further questions? Please chat with us for more details.</p>
						</td>
						<td>
							<img class="icon-accordion-sub-1" style="margin-right: 15px;" src="{{ 'assets/images/substract-icon.png'|theme }}" />
						</td>
					</tr>
				</table>
			</div> 
		</div>
	</div>
	</div>
</div>
<script>
window.onscroll = function() {myFunction()};
function myFunction() {
    var header = document.getElementById("about-us-navs-tab");
    if (window.pageYOffset > 56) {
        header.classList.add("sticky");
    } else {
        header.classList.remove("sticky");
    }
}
</script>