==
<!-- Nav -->

<div class="nav-bg" style="background: #323A45; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02);">
  <div class="container">
    <nav id="topnav" class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"><img src="{{ 'assets/images/logo.png'|theme }}"></a>

      <div class="nav-menu-block">
        <div class="nav-icons-block">
          <div id="heart"></div>
          <div id="cart"></div>
          <div id="search" onclick="toggleSearch();"></div>
          <div id="mobile-menu" onclick="openNav()"></div>
        </div>
      </div>
    </nav>
  </div>
</div> <!-- nav bg -->

<div class="search-bar" style="display: none;">
  <div class="container page-container p-0">
    <div class="search-block">
      <div class="search-left float-left">
        <input type="search" name="txtsearch" placeholder="Where do you want to go?" class="txtsearch" />
        <input type="text" name="txtcal" class="txtcal" />
        <input type="text" name="txtguests" class="txtguests">
      </div>
      <div class="search-right float-left">
        <button name="btnsearch" class="btn btn-primary btn-search">SEARCH</button>
      </div>
    </div>
  </div>
</div>