{#set addfees = "text" #}


<div>
	<div class='info-popup'>
		{% if fees == "Yes" %}
		<div>
			<div class='info-title'>Additional Fees</div>
			
			 This property charges additional fees that will be added to the nightly rate total once you select your room type (if applicable).  
			<br />
			<span><b>Fees: {{feesnotes}}</b></span>
			
		</div>
		<br />
		{% endif %}
		
		{% if bonds== "Yes" %}
		<div>
			<div class='info-title'>Refundable Security Bond</div> 
			This property charges a refundable security bond. The bond is separate from the nightly rate and is paid directly to the property owner prior to check-in. Payment details will be provided by the host after confirmation.  
			<br />
			<span><b>Bond amount: {{bondsnotes}}</b></span>
			<br />
		</div>
		<br />
		{% endif %}

		<div class='info-title'>Price Guarantee</div>
		 We always offer the best available prices. If you find a better price that includes all applicable fees, let us know and we’ll match it!
	</div>
</div>