==
<div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
           <button type="button" class="btn-back" id="back-forgot"></button>
            <h5 class="modal-title">Manage your booking</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" >   
            {{ form_ajax('onSignin', { class: 'popup-booking-form-login' }) }}   	
            <div class="form-email-login form-signup"  id="form-forgot-email">
                 <h3 class="social-login-text">Retrieve booking</h3>
                 <p>Please enter your booking email. You will also need your password or itinerary number.</p>
                <div class="form-group">
                   <input type="email" id="login-by-email-booking" name="login" class="form-control" placeholder="Email">
                </div>
                 <div class="form-group">
                     <button type="button" class="login-button" id="forgot-button">Next</button>
                 </div>
                <div class="login-social">
                            <h5 class="title-social"><span>or sign in with one click</span></h5>
                            <div class="box-social d-flex justify-content-between align-items-center flex-row">
                                {% for name, link in social_login_links %}
                                    
                                    {% if name == 'Google' %}
                                       <div class="item-social text-center mr-2">
                                            <a href="{{ link }}?s={{ 'wishlist-login'|page }}&f={{ 'wishlist-logout'|page }}">
                                                <img src="{{ '/assets/images/gg1.png'|theme }}" alt="{{ name }}">
                                                <span>Google</span>
                                            </a>
                                        </div>
                                    {% endif %}
                                    
                                    {% if name == 'Facebook' %}
                                       <div class="item-social text-center ml-2">
                                            <a href="{{ link }}?s={{ 'wishlist-login'|page }}&f={{ 'wishlist-logout'|page }}">
                                                <img src="{{ '/assets/images/fb.png'|theme }}" alt="{{ name }}">
                                                <span>Facebook</span>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                
                                
                            </div>
                            <p class="text-center">Already have an account? <a href="#" id="id-signup-popup" data-target="#login-modal" data-dismiss="modal" data-toggle="modal">Sign in</a></p>
                        </div>
            </div>
            <div class="form-email-login form-signup" id="form-forgot-password">
                 <h3 class="social-login-text">Password or itinerary number</h3>
                 <p>Please enter your View Retreats password for <strong class="popup-booking-email-show-login"></strong></p>
                <div class="form-group">
                   <input type="password" id="popup-booking-password" name="password" class="form-control" placeholder="Password">
                </div>
                <p class="text-center" style="color: #aaa;">or</p>
                <div class="form-group">
                   <input type="text" name="itinerary_number" class="form-control" placeholder="Itinerary number">
                </div>
                 <div class="form-group">
                     <button type="submit" class="login-button" >Retrieve booking</button>
                 </div>
                <div class="login-social d-sm-block d-none ">
                    <p class="text-center">
                        <a href="#" id="id-bookings-popup-forgot-password" data-target="#forgot-password-modal" data-dismiss="modal" data-toggle="modal">
                            Forgotten your password?
                        </a>
                    </p>
                    <p class="text-center">
                        <a href="#" id="id-bookings-popup-forgot-itenerary-number" data-target="#retrieve-itenerary-modal" data-dismiss="modal" data-toggle="modal">
                            Forgotten your itinerary number?
                        </a>
                    </p>
                </div>
            </div>
            {{ form_close() }}
        </div>
      <p class="modal-bottom"> By submitting your details you agree that you have read and accept our <a href="/terms#privacy-policy" target="_blank">privacy policy</a> & <a href="{{ 'terms'|page }}" target="_blank" >terms of service</a></p>
    </div>
  </div>
  <script>
      
    
  </script>