==
<div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
           <button type="button" class="btn-back" id="back-login"></button>
            <h5 class="modal-title">Important Booking Information</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >      	
         <h4 > 1. Cancelling your booking</h4>
         <div class="item-info">
             <p>We understand that sometimes plans change. As such, we do not charge any change or cancellation fees. However, some properties charge cancellation penalties that we are required to pass on to you. Following are the cancellation policies relating to this booking;</p>
             <ul >
                 <li>Free cancellation before 09 March 2020 at 2.00pm (GMT-8) </li>
                 <li>Cancellations made after 09 March 2020 at 2.00pm (GMT -8:00) are subject to a 1 night penalty plus taxes and fees</li>
                 <li>If you fail to check-in for this reservation, or if you cancel or change this reservation after check-in, you may incur penalty charges at the discretion of the property of up to 100% of the booking value</li>
             </ul>
         </div>
         <h4 >2. Changing your booking</h4>
         <div class="item-info">
             <p>
                 You can make changes to your booking by clicking ‘Manage Booking’ in your confirmation email or by calling 1800 XXX XXX. Permitted changes are subject to the property’s booking & cancellation policies.
             </p>
         </div>
         
         <h4>3. Payment for your booking</h4>
         <div class="item-info">
             <p>
                 The total price for your booking will be charged in AUD at the time of booking. The total booking price includes all taxes and surcharges. Total prices are inclusive of tax recovery charges and service fees as well as sales tax (if applicable) unless otherwise specified.
             </p>
         </div>
         
         <h4>4. Booking confirmation</h4>
         <div class="item-info">
             <p>
                A confirmation of your booking will be emailed to you upon completion of your booking. We recommend printing this confirmation to present to the property upon arrival if required.
             </p>
         </div>
         
         <h4>5. Check in instructions</h4>
         <div class="item-info">
             <p>
                 Extra-person charges may apply and vary depending on property policy.
                    Government-issued photo identification and a credit card, debit card, or cash deposit may be required at check-in for incidental charges.
                    Special requests are subject to availability upon check-in and may incur additional charges. Special requests cannot be guaranteed. 
             </p>
             <ul>
                 <li>No onsite parking is available. </li>
                 <li>Please note that cultural norms and guest policies may differ by country and by property. </li>
             </ul>
             <p>This property charges a 2% surcharge on all credit card transactions.</p>
         </div>
         
         <h4>6. Special arrival instructions</h4>
         <div class="item-info">
             <p>To make arrangements for check-in please contact the property at least 72 hours before arrival using the information on the booking confirmation. Guests will receive an email 2 weeks before arrival with check-in instructions. Front desk staff will greet guests on arrival. For more details, please contact the property using the information on the booking confirmation.  Airport shuttle service is available on request from 9:00 AM to 5:00 PM. Fees may apply. Contact the property in advance to make arrangements.  This property is accessible by boat transfer or sea plane only. There is no public airport on Hayman Island. Transfer service can be booked directly with the property for a fee.  Guests must contact this property at least 14 days in advance to arrange check-in and boat transfer.</p>
         </div>
         
         <h4>7. Additional fees</h4>
         <div class="item-info">
              <p>The following fees and deposits are charged by the property at time of service, check-in, or check-out. 
             </p>
             <ul>
                 <li>Airport shuttle fee: AUD 210 per person (one-way) </li>
                 <li>Airport shuttle fee per child: AUD 110 (one-way), (from 4 to 11 years old) </li>
                 <li>Rollaway bed fee: AUD 150.0 per night</li>
                 <li>Credit card charges are subject to a surcharge of 1.5 percent </li>
             </ul>
             <p>The above list may not be comprehensive. Fees and deposits may not include tax and are subject to change.</p>
         </div>
         
         <h4>8. Other information</h4>
         <div class="item-info">
             <ul>
                 <li>Guests must transfer to the property via boat or helicopter and must arrange the transfers by contacting the property before travel, using the contact information on the booking confirmation.</li>
                 <li>This property offers transfers from the airport (surcharges may apply). Guests must contact the property with arrival details 72 hours prior to arrival, using the contact information on the booking confirmation.</li>
                 <li>Reservations are required for massage services and spa treatments. Reservations can be made by contacting the resort prior to arrival, using the contact information on the booking confirmation.</li>
                 <li>Only registered guests are allowed in the guestrooms. </li>
                 <li>The property has connecting/adjoining rooms, which are subject to availability and can be requested by contacting the property using the number on the booking confirmation. </li>
             </ul>
         </div>
         
      </div>
    </div>
  </div>
  <script>
      
    
  </script>