==
<div class="slider-about-us-FQA">
	<span>Frequenty Asked Questions</span>
	<img src="https://app.dev.viewretreats.net/storage/app/media/about%20us/Frequenty-Asked-Questions.png">
</div>
<div class="container">
	<div class=" about-us-FQA-booking">
		<div class="">
		<h3>About Bookings & Requests</h3>
            <div id="accordion">
              <div class="card">
                <div class="card-header collapse-card-click-booking-1" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headingOne-booking">
                  <h5 class="mb-0">
                    What is the process for an 'Instant Confirmation' booking?
                    <span class="gift-plus-icon gift-plus-booking-1">
		            		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
							<path d="M22 14.9997H8M15 7.99973V21.9997" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
							</svg>
		            </span>
                  </h5>
                </div>
            
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne-booking" data-parent="#accordion">
                  <div class="card-body">
                    When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.</br></br>

				    You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy.</br></br>

				    We highly recommend travel insurance to cover any unforeseen circumstances.</br></br>

				    Have further questions? Please chat with us for more details.
				    <span class="gift-sub-icon" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="collapse-faq-sub-booking-1">
                		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    					<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
    					<path d="M22 15H8" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
    					</svg>
                	</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapse-card-click-booking-2" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="headingTwo-booking">
                  <h5 class="mb-0">
                    What is the process for an 'On Request' booking?
                    <span class="gift-plus-icon gift-plus-booking-2">
		            		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
							<path d="M22 14.9997H8M15 7.99973V21.9997" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
							</svg>
		            </span>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo-booking" data-parent="#accordion">
                  <div class="card-body">
                    When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.</br></br>

				    You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy.</br></br>

				    We highly recommend travel insurance to cover any unforeseen circumstances.</br></br>

				    Have further questions? Please chat with us for more details.
				    <span class="gift-sub-icon" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="collapse-faq-sub-booking-2">
                		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    					<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
    					<path d="M22 15H8" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
    					</svg>
                	</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header heading-color collapse-card-click-booking-3" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="headingThree-booking">
                  <h5 class="mb-0">
                   What is the process for an 'Enquiry Only' booking?
                    <span class="gift-plus-icon gift-plus-booking-3">
		            		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
							<path d="M22 14.9997H8M15 7.99973V21.9997" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
							</svg>
		            </span>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree-booking" data-parent="#accordion">
                 <div class="card-body">
                    When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.</br></br>

				    You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy.</br></br>

				    We highly recommend travel insurance to cover any unforeseen circumstances.</br></br>

				    Have further questions? Please chat with us for more details.
				    <span class="gift-sub-icon" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="collapse-faq-sub-booking-3">
                		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    					<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
    					<path d="M22 15H8" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
    					</svg>
                	</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapse-card-click-booking-4" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" id="headingFour-booking">
                  <h5 class="mb-0">
                     Will I get the best rates? What is the 'Price Guarantee'?
                    <span class="gift-plus-icon gift-plus-booking-4">
		            		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
							<path d="M22 14.9997H8M15 7.99973V21.9997" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
							</svg>
		            </span>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour-booking" data-parent="#accordion">
                  <div class="card-body">
                    When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.</br></br>

				    You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy.</br></br>

				    We highly recommend travel insurance to cover any unforeseen circumstances.</br></br>

				    Have further questions? Please chat with us for more details.
				    <span class="gift-sub-icon" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" id="collapse-faq-sub-booking-4">
                		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    					<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
    					<path d="M22 15H8" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
    					</svg>
                	</span>
                  </div>
                </div>
              </div>
            </div>    
	    
	    </div>
	</div>
	<div class="row about-us-FQA-payment">
		<div class="col">
		<h3>About Payments & Fees</h3>
            <div id="accordion">
              <div class="card">
                <div class="card-header collapse-card-click-payment-1" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive" id="headingOne-payment">
                  <h5 class="mb-0">
                    What is the process for an 'Instant Confirmation' booking?
                    <span class="gift-plus-icon gift-plus1">
		            		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
							<path d="M22 14.9997H8M15 7.99973V21.9997" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
							</svg>
		            </span>
                  </h5>
                </div>
            
                <div id="collapseFive" class="collapse" aria-labelledby="headingOne-payment" data-parent="#accordion">
                  <div class="card-body">
                    When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.</br></br>

				    You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy.</br></br>

				    We highly recommend travel insurance to cover any unforeseen circumstances.</br></br>

				    Have further questions? Please chat with us for more details.
				    <span class="gift-sub-icon" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive" id="collapse-faq-sub-payment-1">
                		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    					<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
    					<path d="M22 15H8" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
    					</svg>
                	</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapse-card-click-payment-2" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" id="headingTwo-payment">
                  <h5 class="mb-0">
                     What is the process for an 'On Request' booking?
                    <span class="gift-plus-icon gift-plus2">
		            		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
							<path d="M22 14.9997H8M15 7.99973V21.9997" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
							</svg>
		            </span>
                  </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingTwo-payment" data-parent="#accordion">
                  <div class="card-body">
                    When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.</br></br>

				    You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy.</br></br>

				    We highly recommend travel insurance to cover any unforeseen circumstances.</br></br>

				    Have further questions? Please chat with us for more details.
				    <span class="gift-sub-icon" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" id="collapse-faq-sub-payment-2">
                		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    					<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
    					<path d="M22 15H8" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
    					</svg>
                	</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header heading-color collapse-card-click-payment-3" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" id="headingThree-payment">
                  <h5 class="mb-0">
                    What is the process for an 'Enquiry Only' booking?
                    <span class="gift-plus-icon gift-plus3">
		            		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
							<path d="M22 14.9997H8M15 7.99973V21.9997" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
							</svg>
		            </span>
                  </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingThree-payment" data-parent="#accordion">
                 <div class="card-body">
                    When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.</br></br>

				    You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy.</br></br>

				    We highly recommend travel insurance to cover any unforeseen circumstances.</br></br>

				    Have further questions? Please chat with us for more details.
				    <span class="gift-sub-icon" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" id="collapse-faq-sub-payment-3">
                		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    					<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
    					<path d="M22 15H8" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
    					</svg>
                	</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapse-card-click-payment-4" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight" id="headingFour-payment">
                  <h5 class="mb-0">
                     Will I get the best rates? What is the 'Price Guarantee'?
                    <span class="gift-plus-icon gift-plus4">
		            		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
							<path d="M22 14.9997H8M15 7.99973V21.9997" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
							</svg>
		            </span>
                  </h5>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingFour-payment" data-parent="#accordion">
                  <div class="card-body">
                    When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.</br></br>

				    You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy.</br></br>

				    We highly recommend travel insurance to cover any unforeseen circumstances.</br></br>

				    Have further questions? Please chat with us for more details.
				    <span class="gift-sub-icon" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight" id="collapse-faq-sub-payment-4">
                		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    					<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
    					<path d="M22 15H8" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
    					</svg>
                	</span>
                  </div>
                </div>
              </div>
            </div> 
	</div>
	</div>
	<div class="row about-us-FQA-gift">
		<div class="col">
		<h3>About Gift Vouchers</h3>
		            <div id="accordion">
              <div class="card">
                <div class="card-header collapse-card-click-gift-1" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine" id="headingOne-gift">
                  <h5 class="mb-0">
                    What is the process for an 'Instant Confirmation' booking?
                    <span class="gift-plus-icon gift-plus1">
		            		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
							<path d="M22 14.9997H8M15 7.99973V21.9997" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
							</svg>
		            </span>
                  </h5>
                </div>
            
                <div id="collapseNine" class="collapse" aria-labelledby="headingOne-gift" data-parent="#accordion">
                  <div class="card-body">
                    When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.</br></br>

				    You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy.</br></br>

				    We highly recommend travel insurance to cover any unforeseen circumstances.</br></br>

				    Have further questions? Please chat with us for more details.
				    <span class="gift-sub-icon" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine" id="collapse-faq-sub-gift-1">
                		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    					<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
    					<path d="M22 15H8" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
    					</svg>
                	</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapse-card-click-gift-2"  data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen" id="headingTwo-gift">
                  <h5 class="mb-0">
                    What is the process for an 'On Request' booking?
                    <span class="gift-plus-icon gift-plus2">
		            		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
							<path d="M22 14.9997H8M15 7.99973V21.9997" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
							</svg>
		            </span>
                  </h5>
                </div>
                <div id="collapseTen" class="collapse" aria-labelledby="headingTwo-gift" data-parent="#accordion">
                  <div class="card-body">
                    When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.</br></br>

				    You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy.</br></br>

				    We highly recommend travel insurance to cover any unforeseen circumstances.</br></br>

				    Have further questions? Please chat with us for more details.
				    <span class="gift-sub-icon" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen" id="collapse-faq-sub-gift-2">
                		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    					<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
    					<path d="M22 15H8" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
    					</svg>
                	</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header heading-color collapse-card-click-gift-3" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven" id="headingThree-gift">
                  <h5 class="mb-0">
                     What is the process for an 'Enquiry Only' booking?
                    <span class="gift-plus-icon gift-plus3">
		            		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
							<path d="M22 14.9997H8M15 7.99973V21.9997" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
							</svg>
		            </span>
                  </h5>
                </div>
                <div id="collapseEleven" class="collapse" aria-labelledby="headingThree-gift" data-parent="#accordion">
                 <div class="card-body">
                    When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.</br></br>

				    You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy.</br></br>

				    We highly recommend travel insurance to cover any unforeseen circumstances.</br></br>

				    Have further questions? Please chat with us for more details.
				    <span class="gift-sub-icon" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven" id="collapse-faq-sub-gift-3">
                		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    					<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
    					<path d="M22 15H8" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
    					</svg>
                	</span>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header collapse-card-click-gift-4" data-toggle="collapse" data-target="#collapsetwelve" aria-expanded="false" aria-controls="collapsetwelve" id="headingFour-gift">
                  <h5 class="mb-0">
                    Will I get the best rates? What is the 'Price Guarantee'?
                    <span class="gift-plus-icon gift-plus4">
		            		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
							<path d="M22 14.9997H8M15 7.99973V21.9997" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
							</svg>
		            </span>
                  </h5>
                </div>
                <div id="collapsetwelve" class="collapse" aria-labelledby="headingFour-gift" data-parent="#accordion">
                  <div class="card-body">
                    When you book through View Retreats you are booking direct with the property owner or manager according to their own terms & conditions. This means that there are different cancellation & change terms for every property.</br></br>

				    You can review the terms & conditions of each property on the property description page or on the check out page when you are making your booking. Please be aware that some properties treat changes as a cancellation and that some properties have a ‘no-refunds’ policy.</br></br>

				    We highly recommend travel insurance to cover any unforeseen circumstances.</br></br>

				    Have further questions? Please chat with us for more details.
				    <span class="gift-sub-icon" data-toggle="collapse" data-target="#collapsetwelve" aria-expanded="false" aria-controls="collapsetwelve" id="collapse-faq-sub-gift-4">
                		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    					<circle cx="15" cy="15" r="14" stroke="#AAAAAA" stroke-width="2"/>
    					<path d="M22 15H8" stroke="#AAAAAA" stroke-width="3" stroke-linecap="round"/>
    					</svg>
                	</span>
                  </div>
                </div>
              </div>
            </div> 
	</div>
	</div>
</div>
<script>

//about booking
    $(document).ready(function() {
        var clicked = true;
        
          $(".collapse-card-click-booking-1").click(function() {
            if(clicked){
                $(".gift-plus-booking-1").css("display", "none");
                $("#headingOne-booking").css("background", "#FFFFFF");
                $(".card-header").css("border-bottom", "none");
                
                clicked = false;
            }else{
                $(".gift-plus-booking-1").css("display", "block");
                $("#headingOne-booking").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked = true;
            }
            
          });
          
          $("#collapse-faq-sub-booking-1").click(function(){
            if(clicked){
                clicked = false;
            }else{
                $(".gift-plus-booking-1").css("display", "block");
                $("#headingOne-booking").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked = true;
            }
          });
          
    });
    $(document).ready(function() {
        var clicked2 = true;
          $(".collapse-card-click-booking-2").click(function() {
            if(clicked2){
                $(".gift-plus-booking-2").css("display", "none");
                $("#headingTwo-booking-booking").css("background", "#FFFFFF");
                $(".card-header").css("border-bottom", "none");
                clicked2 = false;
            }else{
                $(".gift-plus-booking-2").css("display", "block");
                $("#headingTwo-booking-booking").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked2 = true;
            }
            
          });
          
          $("#collapse-faq-sub-booking-2").click(function(){
            if(clicked2){
                clicked2 = false;
            }else{
                $(".gift-plus-booking-2").css("display", "block");
                $("#headingTwo-booking-booking").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked2 = true;
            }
          });
    });
     $(document).ready(function() {
        var clicked3 = true;
          $(".collapse-card-click-booking-3").click(function() {
            if(clicked3){
                $(".gift-plus-booking-3").css("display", "none");
                $("#headingThree-booking").css("background", "#FFFFFF");
                $(".card-header").css("border-bottom", "none");
                clicked3 = false;
            }else{
                $(".gift-plus-booking-3").css("display", "block");
                $("#headingThree-booking").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked3 = true;
            }
            
          });
          $("#collapse-faq-sub-booking-3").click(function(){
            if(clicked3){
                clicked3 = false;
            }else{
                $(".gift-plus-booking-3").css("display", "block");
                $("#headingThree-booking").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked3 = true;
            }
          });
 
    });
    $(document).ready(function() {
        var clicked4 = true;
          $(".collapse-card-click-booking-4").click(function() {
            if(clicked4){
                $(".gift-plus-booking-4").css("display", "none");
                $("#headingFour-booking").css("background", "#FFFFFF");
                $(".card-header").css("border-bottom", "none");
                clicked4 = false;
            }else{
                $(".gift-plus-booking-4").css("display", "block");
                $("#headingFour-booking").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked4 = true;
            }
            
          });
          $("#collapse-faq-sub-booking-4").click(function(){
            if(clicked4){
                clicked4 = false;
            }else{
                $(".gift-plus-booking-4").css("display", "block");
                $("#headingFour-booking").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked4 = true;
            }
          });
 
    });
//about payment
    $(document).ready(function() {
        var clicked5 = true;
        
          $(".collapse-card-click-payment-1").click(function() {
            if(clicked5){
                $(".gift-plus1").css("display", "none");
                $("#headingOne-payment").css("background", "#FFFFFF");
                $(".card-header").css("border-bottom", "none");
                
                clicked5 = false;
            }else{
                $(".gift-plus1").css("display", "block");
                $("#headingOne-payment").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked5 = true;
            }
            
          });
          $("#collapse-faq-sub-payment-1").click(function(){
            if(clicked5){
                clicked5 = false;
            }else{
                $(".gift-plus1").css("display", "block");
                $("#headingOne-payment").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked5 = true;
            }
          });
          
    });
    $(document).ready(function() {
        var clicked6 = true;
          $(".collapse-card-click-payment-2").click(function() {
            if(clicked6){
                $(".gift-plus2").css("display", "none");
                $("#headingTwo-payment").css("background", "#FFFFFF");
                $(".card-header").css("border-bottom", "none");
                clicked6 = false;
            }else{
                $(".gift-plus2").css("display", "block");
                $("#headingTwo-payment").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked6 = true;
            }
            
          });
          $("#collapse-faq-sub-payment-2").click(function(){
            if(clicked6){
                clicked6 = false;
            }else{
                $(".gift-plus2").css("display", "block");
                $("#headingTwo-payment").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked6 = true;
            }
          });
    });
     $(document).ready(function() {
        var clicked7 = true;
          $(".collapse-card-click-payment-3").click(function() {
            if(clicked7){
                $(".gift-plus3").css("display", "none");
                $("#headingThree-payment").css("background", "#FFFFFF");
                $(".card-header").css("border-bottom", "none");
                clicked7 = false;
            }else{
                $(".gift-plus3").css("display", "block");
                $("#headingThree-payment").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked7 = true;
            }
            
          });
          $("#collapse-faq-sub-payment-3").click(function(){
            if(clicked7){
                clicked7 = false;
            }else{
                $(".gift-plus3").css("display", "block");
                $("#headingThree-payment").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked7 = true;
            }
          });
 
    });
    $(document).ready(function() {
        var clicked8 = true;
          $(".collapse-card-click-payment-4").click(function() {
            if(clicked8){
                $(".gift-plus4").css("display", "none");
                $("#headingFour-payment").css("background", "#FFFFFF");
                $(".card-header").css("border-bottom", "none");
                clicked8 = false;
            }else{
                $(".gift-plus4").css("display", "block");
                $("#headingFour-payment").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked8 = true;
            }
            
          });
          $("#collapse-faq-sub-payment-4").click(function(){
            if(clicked8){
                clicked8 = false;
            }else{
                $(".gift-plus4").css("display", "block");
                $("#headingFour-payment").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked8 = true;
            }
          });
 
    });
//about gift voucher
    $(document).ready(function() {
        var clicked9 = true;
        
          $(".collapse-card-click-gift-1").click(function() {
            if(clicked9){
                $(".gift-plus1").css("display", "none");
                $("#headingOne-gift").css("background", "#FFFFFF");
                $(".card-header").css("border-bottom", "none");
                
                clicked9 = false;
            }else{
                $(".gift-plus1").css("display", "block");
                $("#headingOne-gift").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked9 = true;
            }
            
          });
          $("#collapse-faq-sub-gift-1").click(function(){
            if(clicked9){
                clicked9 = false;
            }else{
                $(".gift-plus1").css("display", "block");
                $("#headingOne-gift").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked9 = true;
            }
          });
          
    });
    $(document).ready(function() {
        var clicked10 = true;
          $(".collapse-card-click-gift-2").click(function() {
            if(clicked10){
                $(".gift-plus2").css("display", "none");
                $("#headingTwo-gift").css("background", "#FFFFFF");
                $(".card-header").css("border-bottom", "none");
                clicked10 = false;
            }else{
                $(".gift-plus2").css("display", "block");
                $("#headingTwo-gift").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked10 = true;
            }
            
          });
          $("#collapse-faq-sub-gift-2").click(function(){
            if(clicked10){
                clicked10 = false;
            }else{
                $(".gift-plus2").css("display", "block");
                $("#headingTwo-gift").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked10 = true;
            }
          });
    });
     $(document).ready(function() {
        var clicked11 = true;
          $(".collapse-card-click-gift-3").click(function() {
            if(clicked11){
                $(".gift-plus3").css("display", "none");
                $("#headingThree-gift").css("background", "#FFFFFF");
                $(".card-header").css("border-bottom", "none");
                clicked11 = false;
            }else{
                $(".gift-plus3").css("display", "block");
                $("#headingThree-gift").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked11 = true;
            }
            
          });
          $("#collapse-faq-sub-gift-3").click(function(){
            if(clicked11){
                clicked11 = false;
            }else{
                $(".gift-plus3").css("display", "block");
                $("#headingThree-gift").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked11 = true;
            }
          });
 
    });
    $(document).ready(function() {
        var clicked12 = true;
          $(".collapse-card-click-gift-4").click(function() {
            if(clicked12){
                $(".gift-plus4").css("display", "none");
                $("#headingFour-gift").css("background", "#FFFFFF");
                $(".card-header").css("border-bottom", "none");
                clicked12 = false;
            }else{
                $(".gift-plus4").css("display", "block");
                $("#headingFour-gift").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked12 = true;
            }
            
          });
          $("#collapse-faq-sub-gift-4").click(function(){
            if(clicked12){
                clicked12 = false;
            }else{
                $(".gift-plus4").css("display", "block");
                $("#headingFour-gift").css("background", "#FCFCFC");
                $(".card-header").css("border-bottom", "1px solid rgba(50, 58, 69, 0.02)");
                clicked12 = true;
            }
          });
 
    });
</script>