==
<div class="list-booking">
    <div class="item-booking">
        <div class="d-flex flex-sm-row flex-column justify-content-between align-items-center">
            <div class="item-info  d-flex flex-sm-row flex-column align-content-center align-items-center">
                <img class="" src="https://app.viewretreats.net/storage/app/media/property/banner/image%209.png" alt="">
                <div class="card-body d-flex flex-column align-content-start room-info">
                    <h5>Harts Lane Haus</h5>
                    <p>2 Harts Lane, Daylesford, Victoria, 3460, Australia</p>
                    <dl>
                      <dt>Itinerary:     </dt>
                      <dd>14356789</dd>
                      <dt>Check-in:     </dt>
                      <dd>16 Mar. 2021</dd>
                      <dt>Check-out:  </dt>
                      <dd>18 Mar. 2021</dd>
                    </dl>
                </div>
            </div>
            <div class="item-action d-flex d-md-block  flex-sm-column flex-row justify-content-between align-items-start">
                <div class="action-view aciton-item d-flex flex-column flex-sm-row justify-content-start align-items-center">
                   <span  class="mr-1 " ><img src="{{ 'assets/images/view.png'|theme }}" width="22" alt="View booking"></span>
                   View booking
                </div>
               <a href="javascript:void(0)" data-target="#forgot-modal" data-toggle="modal"  class="action-change aciton-item d-flex flex-column flex-sm-row justify-content-start align-items-center">
                   <span class="mr-1"><img src="{{ 'assets/images/change.png'|theme }}" width="16" alt="hange booking"></span> Change booking
                </a>
                <div class="action-cancel aciton-item d-flex flex-column flex-sm-row justify-content-start align-items-center">
                  <span class="mr-1"><img src="{{ 'assets/images/cancel.png'|theme }}" width="14" alt="Cancel booking" ></span>  Cancel booking
                </div>
            </div>
        </div>
    </div>
    <div class="item-booking">
        <div class="d-flex flex-sm-row flex-column justify-content-between align-items-center">
            <div class="item-info  d-flex flex-sm-row flex-column align-content-center align-items-center">
                <img class="" src="https://expedia-properties.s3-ap-southeast-2.amazonaws.com/media/properties/10062481/naumi-auckland-airport_28f64e1c_z.jpg" width="180" alt="">
                <div class="card-body d-flex flex-column align-content-start room-info">
                    <h5>Harts Lane Haus</h5>
                    <p>2 Harts Lane, Daylesford, Victoria, 3460, Australia</p>
                    <dl>
                      <dt>Itinerary:     </dt>
                      <dd>14356789</dd>
                      <dt>Check-in:     </dt>
                      <dd>16 Mar. 2021</dd>
                      <dt>Check-out:  </dt>
                      <dd>18 Mar. 2021</dd>
                    </dl>
                </div>
            </div>
            <div class="item-action d-flex d-md-block  flex-sm-column flex-row justify-content-between align-content-center align-items-center">
                <div class="action-view aciton-item d-flex flex-column flex-sm-row justify-content-start align-items-center">
                   <span  class="mr-1 " ><img src="{{ 'assets/images/view.png'|theme }}" width="22" alt="View booking"></span>
                   View booking
                </div>
                <a href="javascript:void(0)" data-target="#forgot-modal" data-toggle="modal"  class="action-change aciton-item d-flex flex-column flex-sm-row justify-content-start align-items-center">
                   <span class="mr-1 "><img src="{{ 'assets/images/change.png'|theme }}" width="16" alt="hange booking"></span> Change booking
                </a>
                <div class="action-cancel aciton-item d-flex flex-column flex-sm-row justify-content-start align-items-center">
                  <span class="mr-1"><img src="{{ 'assets/images/cancel.png'|theme }}" width="14" alt="Cancel booking"></span>  Cancel booking
                </div>
            </div>
        </div>
    </div>
</div>