==
<div class="item-action d-flex flex-column align-content-center align-items-start d-sm-inline-block d-none">
    <p><strong>Itinerary:</strong> 12345678</p>
</div>
<div class="list-booking ">
    <div class="item-booking">
        <div class="d-flex flex-wrap justify-content-between align-items-start mb-4">
            <div class="item-info  d-flex flex-wrap align-content-center align-items-start">
                <img class="" src="https://app.viewretreats.net/storage/app/media/property/banner/image%209.png" width="180" alt="">
                <div class="card-body d-flex flex-column align-content-start room-info">
                    <h5 class="mt-2 mb-2">Harts Lane Haus</h5>
                    <p>2 Harts Lane, Daylesford, Victoria, 3460, Australia</p>
                     <p><strong>Phone:</strong> +61 3 5348 4422</p>
                </div>
            </div>
        </div>
        <div class="item-detail">
            <h6>GUEST DETAILS</h6>
            <dl>
              <dt>Contact Name</dt>
              <dd>Mathew Lewis    <a href="#" class="ml-1"><span class="d-sm-inline-block d-none">Change</span>  <span class="d-sm-none"><img src="{{ 'assets/images/edit.png'|theme }}"/></span></a></dd>
              <dt>Phone Number</dt>
              <dd>+61 0403 848 545   <a href="#" class="ml-1"><span class="d-sm-inline-block d-none">Change</span>  <span class="d-sm-none"><img src="{{ 'assets/images/edit.png'|theme }}"/></span></a></dd>
              <dt>Special Requests <span class="info"><img src="{{ 'assets/images/info.png'|theme }}" data-toggle="popover" title="Special Requests" data-content="Special requests (such as in-room amenities, bed type etc) are sent to the property but are not guaranteed and may incur additional charges. We suggest you confirm them directly with the hotel before travel." width="20" class="btn-popup" /> </span></dt>
              <dd>None entered  <a href="#" class="ml-1"><span class="d-sm-inline-block d-none">Change</span>  <span class="d-sm-none"><img src="{{ 'assets/images/edit.png'|theme }}"/></span></a></dd>
            </dl>
        </div>
        <div class="item-detail">
            <h6>RESERVATION DETAILS</h6>
            <dl>
              <dt>Room type</dt>
              <dd>Standard Room <a href="#" class="ml-1"><span class="d-sm-inline-block d-none">Change</span>  <span class="d-sm-none"><img src="{{ 'assets/images/edit.png'|theme }}"/></span></a></dd>
              <dt class="d-none d-md-inline-block">Dates</dt>
              <dd class="d-none d-md-inline-block">Saturday 14 Dec. 2020  - Monday 16 Dec. 2020  <a href="#" class="ml-1">Change</a></dd>
              <dt class="d-md-none">Check-in</dt>
              <dd class="d-md-none">14 Dec. 2020<a href="#" class="ml-1"><span class="d-sm-inline-block d-none">Change</span>  <span class="d-sm-none"><img src="{{ 'assets/images/edit.png'|theme }}"/></span></a></dd>
              <dt class="d-md-none">Check-out</dt>
              <dd class="d-md-none">16 Dec. 2020  <a href="#" class="ml-1"><span class="d-sm-inline-block d-none">Change</span>  <span class="d-sm-none"><img src="{{ 'assets/images/edit.png'|theme }}"/></span></a></dd>
              <dt>Guests</dt>
              <dd>2 Adults, 2 Children <a href="#" class="ml-1"><span class="d-sm-inline-block d-none">Change</span>  <span class="d-sm-none"><img src="{{ 'assets/images/edit.png'|theme }}"/></span></a></dd>
              <dt>Total price</dt>
              <dd>AU$2,500.00 </dd>
              <dt>Payment</dt>
              <dd>You have paid in full. Any extra charges will be paid directly to the property</dd>
              <dt>Cancellation</dt>
              <dd>
                  <p>Free cancellation until 21 Nov. 2020</p>
                  <p class="mb-0">Cancellations made after this date will result in a $150 fee</p>
              </dd>
            </dl>
        </div>
        <div class="text-center mt-4 mb-2">
           <div class="action-cancel aciton-item d-flex flex-column flex-sm-row justify-content-center align-items-center">
              <img src="{{ 'assets/images/cancel.png'|theme }}" width="14" alt="Cancel booking" class="mr-1"> Cancel booking
            </div>
        </div>
    </div>
</div>