==
<div class="note-detail">
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-unstyled list-item-feature">
                 <li>
                     <img src="{{ 'assets/images/Internet.png'|theme }}" class="icon" />
                     <div class="card-note">
                         <div class="card-title "> Internet</div>
                	     <span class="card-content ">Free WiFi</span>
                     </div>
                 </li>
                 <li>
                     <img src="{{ 'assets/images/iconfinder.png'|theme }}" class="icon"/>
                     <div class="card-note">
                         <div class="card-title "> Activities</div>
                	     <span class="card-content ">24 hour fitness facilities</span>
                	     <span class="card-content ">Arcade/game room</span>
                	     <span class="card-content ">Billiards or pool table</span>
                	     <span class="card-content ">Outdoor tennis courts</span>
                	     <span class="card-content ">Tennis onsite</span>
                     </div>
                 </li>
                 
                 
                 <li>
                     <img src="{{ 'assets/images/path1998.png'|theme }}" class="icon"/>
                     <div class="card-note">
                         <span class="card-title "> Food & Drink</span>
                	     <span class="card-content ">Free breakfast</span>
                	     <span class="card-content ">Coffee shop or café</span>
                	     <span class="card-content ">Bar/lounge</span>
                	     <span class="card-content ">Couples/private dining</span>
                	     <span class="card-content ">Number of poolside bars - 2</span>
                	     <span class="card-content ">Number of restaurants - 5</span>
                     </div>
                     
                 </li>
                 <li>
                     <img src="{{ 'assets/images/drink.png'|theme }}" class="icon"/>
                	<div class="card-note">
                	    <span class="card-title "> Kitchen</span>
                         <span class="card-content ">Kitchen</span>
                         <span class="card-content ">Refrigerator</span>
                         <span class="card-content ">Microwave</span>
                         <span class="card-content ">Cookware, dishware, and utensils</span>
                     </div>
                 </li>
                 <li>
                     <img src="{{ 'assets/images/shop.png'|theme }}" class="icon"/>
                	<div class="card-note">
                	    <span class="card-title "> Living Areas</span>
                         <span class="card-content ">24 hour fitness facilities</span>
                         <span class="card-content ">Arcade/game room</span>
                     </div>
                 </li>
                 
             </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-unstyled list-item-feature">
                 <li>
                     <img src="{{ 'assets/images/entertainment.png'|theme }}" class="icon"/>
                	
                	<div class="card-note">
                	    <div class="card-title "> Entertainment</div>
                         <span class="card-content ">Flatscreen TV </span>
                     </div>
                 </li>
                 <li>
                     <img src="{{ 'assets/images/fan.png'|theme }}" class="icon"/>
                	
                	<div class="card-note">
                	    <div class="card-title "> Comfort</div>
                         <span class="card-content ">Air Conditioning</span>
                     </div>
                 </li>
                 <li>
                     <img src="{{ 'assets/images/bedrooms.png'|theme }}" class="icon"/>
                	
                	<div class="card-note">
                	    <span class="card-title "> Bedroom</span>
                         <span class="card-content ">24 hour fitness facilities</span>
                         <span class="card-content ">Arcade/game room</span>
                         <span class="card-content ">Billiards or pool table</span>
                         <span class="card-content ">Outdoor tennis courts</span>
                         <span class="card-content ">Tennis onsite</span>
                         
                     </div>
                 </li>
                 <li>
                     <img src="{{ 'assets/images/bathroom.png'|theme }}" class="icon"/>
                     <div class="card-note">
                         <span class="card-title "> Bathroom</span>
                	     <span class="card-content ">24 hour fitness facilities</span>
                         <span class="card-content ">Arcade/game room</span>
                         <span class="card-content ">Billiards or pool table</span>
                     </div>
                 </li>
                 <li>
                     <img src="{{ 'assets/images/spa.png'|theme }}" class="icon"/>
                     <div class="card-note">
                         <span class="card-title "> Spa Services</span>
                	     <span class="card-content ">24 hour fitness facilities</span>
                	     <span class="card-content ">Arcade/game room</span>
                	     <span class="card-content ">Billiards or pool table</span>
                     </div>
                 </li>
                  <li>
                     <img src="{{ 'assets/images/children.png'|theme }}" class="icon"/>
                     <div class="card-note">
                         <span class="card-title "> Children</span>
                	     <span class="card-content ">24 hour fitness facilities</span>
                	     <span class="card-content ">Arcade/game room</span>
                     </div>
                 </li>
                 <li>
                     <img src="{{ 'assets/images/summer.png'|theme }}" class="icon"/>
                     <div class="card-note">
                         <span class="card-title "> Outdoor</span>
                	     <span class="card-content ">24 hour fitness facilities</span>
                	     <span class="card-content">Arcade/game room</span>
                     </div>
                 </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-unstyled list-item-feature">
                 <li>
                     <img src="{{ 'assets/images/Transport.png'|theme }}" class="icon"/>
                	<div class="card-note">
                	    <span class="card-title "> Parking & Transport</span>
                         <span class="card-content ">Free WiFi</span>
                     </div>
                 </li>
                 <li>
                     <img src="{{ 'assets/images/guest-services.png'|theme }}" class="icon"/>
                	<div class="card-note">
                	    <div class="card-title "> Services & Conveniences</div>
                        <span class="card-content ">Free breakfast</span>
                        <span class="card-content ">Coffee shop or café</span>
                        <span class="card-content ">Bar/lounge</span>
                        <span class="card-content ">Couples/private dining</span>
                        <span class="card-content ">Number of poolside bars - 2</span>
                        <span class="card-content ">Number of restaurants - 5</span>
                     </div>
                 </li>
                 <li>
                     <img src="{{ 'assets/images/business.png'|theme }}" class="icon"/>
                	<div class="card-note">
                	    <span class="card-title "> Business</span>
                         <span class="card-content ">24 hour fitness facilities</span>
                         <span class="card-content ">Arcade/game room</span>
                         
                     </div>
                 </li>
                 <li>
                     <img src="{{ 'assets/images/Accessibility.png'|theme }}" class="icon"/>
                	
                	<div class="card-note">
                	    <span class="card-title "> Accessibility</span>
                         <span class="card-content ">24 hour fitness facilities</span>
                          <span class="card-content ">Arcade/game room</span>
                     </div>
                 </li>
                 <li>
                     <img src="{{ 'assets/images/language.png'|theme }}" class="icon"/>
                	<div class="card-note">
                	    <span class="card-title "> Languages Spoken</span>
                         <span class="card-content ">English</span>
                         <span class="card-content ">Chinese</span>
                         <span class="card-content ">Japanese</span>
                         <span class="card-content ">French</span>
                         <span class="card-content ">German</span>
                         <span class="card-content ">Dutch</span>
                     </div>
                 </li>
                 <li>
                     <img src="{{ 'assets/images/tick.png'|theme }}" class="icon"/>
                	<div class="card-note">
                	    <span class="card-title "> More</span>
                         <span class="card-content ">24 hour fitness facilities</span>
                         <span class="card-content">Arcade/game room</span>
                     </div>
                 </li>
                 
                 
            </ul>
        </div>
    </div>
    
</div>