[viewBag]
==
<link rel="apple-touch-icon" sizes="120x120" href="{{ 'assets/favico/apple-touch-icon.png'|theme }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favico/favicon-32x32.png'|theme }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favico/favicon-16x16.png'|theme }}">
<link rel="mask-icon" href="{{ 'assets/favico/safari-pinned-tab.svg'|theme }}" color="#1dbfd8">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#323a45">