==
<div class='guests-popup'>
	<div class='total'>2</div>
	<div class='text'>Adult</div>
	<div class='btn-minus'><img src='{{ 'assets/images/minus-guest.png'|theme }}' /></div>
	<div class='btn-plus' onclick='addGuest();' style='display: block;'><img src='{{ 'assets/images/plus-guest.png'|theme }}' /></div>
</div>

<div class='guests-popup pt-1'>
	<div class='total'>0</div>
	<div class='text'>Children</div>
	<div class='btn-minus'><img src='{{ 'assets/images/minus-guest.png'|theme }}' /></div>
	<div class='btn-plus'><img src='{{ 'assets/images/plus-guest.png'|theme }}' /></div>
</div>