==
<div class="list-rooms ">
    <div class="container page-container">
        <div class="room-detail ">
            <div class="row">
                <div class="col-lg-6 d-flex flex-wrap align-content-center align-items-center">
                    <img class="card-img img-fluid" src="https://app.viewretreats.net/storage/app/media/property/banner/image%209.png" alt="">
                    <div class="card-body d-flex d-sm-block align-content-center room-info justify-content-between">
                        <h5>4 Bedroom House</h5>
                        <ul class="d-none d-sm-block">
                            <li>Sleeps 2</li>
                            <li>30 sq m</li>
                            <li>1 Queen Bed</li>
                        </ul>
                        <a href="#" class="room-more" data-toggle="modal" data-target="#room1ModalCenter">Room details <img class="icon-blue" src="{{ 'assets/images/icon-blue.png'|theme }}" /></a>
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="box-price-option d-flex justify-content-between align-items-center">
                        <div class="box-convenient">
                            <div class="card-body ">
                                <h6>Free cancellation  <img src="{{ 'assets/images/check_green.png'|theme }}" /><span>before Sat. 15 Mar. </span></h6>
                                <ul class = "list-unstyled list-item-feature">
                                     <li>
                                         <span class="note-img"><img srcset="{{ 'assets/images/amenity-icons/Internet@2x.png'|theme }} 2x" class="icon" /></span>
                                        <span class="card-content ">Free WiFi</span>
                                     </li>
                                     <li>
                                         <span class="note-img">
                                             <img srcset="{{ 'assets/images/amenity-icons/Plate@2x.png'|theme }} 2x" class="icon"/>
                                         </span>
                                        <span class="card-content ">Breakfast included </span>
                                     </li>
                                     <li>
                                     <span class="note-img">
                                          <img srcset="{{ 'assets/images/amenity-icons/Car@2x.png'|theme }} 2x" class="icon"/>
                                     </span>
                                      <span class="card-content ">Free self parking</span>
                                     </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-price">
                            <div class="card-body resever-blo">
                                <div class="text-right">
                                    <!-- div price  -->
                                    <div class="lang_price">
                                        <p class="landing_cost"><span class="price">AUD $1,250</span> </p>
                                        <span>for 1 night</span>
                                         <span class="landing_deposit">Includes taxes & fees</span>
                                         <a href="javascript:void(0)" data-toggle="popover" title="Price Details" data-content="{% partial 'site/price-detail' %}" class="room-more price-detail" >Price details <img class="icon-blue" src="{{ 'assets/images/icon-blue.png'|theme }}"/></a>
                                    </div>
                                    <button name="btnreserve" class="btn btn-reserve mt-1 mb-1 d-none d-sm-block pull-right" data-toggle="modal" data-target="#reservationDetailmdodalCenter">Reserve</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button name="btnreserve" class="btn btn-reserve mt-3 mb-3 d-sm-none" data-toggle="modal" data-target="#reservationDetailmdodalCenter">Reserve</button>
                </div>
            </div>
        </div>
        <div class="room-detail ">
            <div class="row">
                <div class="col-lg-6 d-flex flex-wrap align-content-center align-items-center">
                    <img class="card-img img-fluid" src="https://app.viewretreats.net/storage/app/media/property/banner/image%209.png" alt="">
                    <div class="card-body d-flex d-sm-block align-content-center room-info justify-content-between">
                        <h5>4 Bedroom House</h5>
                        <ul class="d-none d-sm-block">
                            <li>Sleeps 2</li>
                            <li>30 sq m</li>
                            <li>1 Queen Bed</li>
                        </ul>
                        <a href="#" class="room-more" data-toggle="modal" data-target="#room1ModalCenter">Room details <img class="icon-blue" src="{{ 'assets/images/icon-blue.png'|theme }}" /></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box-price-option d-flex justify-content-between align-items-center">
                        <div class="box-convenient">
                            <div class="card-body ">
                                <h6>Option 1</h6>
                                <p>Non-refundable <a class="non-refundable" href="javascript:void(0)" data-toggle="popover" title="Non-refundable rate" data-content="This special discounted rate is non-refundable. If you choose to change or cancel this booking you will not be refunded any of the payment."> <img src="{{ 'assets/images/info-active-white.png'|theme }}" width="18"/> </a></p>
                                <ul class = "list-unstyled list-item-feature">
                                     <li>
                                         <span class="note-img"><img srcset="{{ 'assets/images/amenity-icons/Internet@2x.png'|theme }} 2x" class="icon" /></span>
                                        <span class="card-content ">Free WiFi</span>
                                     </li>
                                     <li>
                                         <span class="note-img">
                                             <img srcset="{{ 'assets/images/amenity-icons/Plate@2x.png'|theme }} 2x" class="icon"/>
                                         </span>
                                        <span class="card-content ">Breakfast included </span>
                                     </li>
                                     <li>
                                     <span class="note-img">
                                          <img srcset="{{ 'assets/images/amenity-icons/Car@2x.png'|theme }} 2x" class="icon"/>
                                     </span>
                                      <span class="card-content ">Free self parking</span>
                                     </li>
                                 </ul>
                            </div>
                        </div>
                        <div class="box-price">
                            <div class="card-body resever-blo">
                                <div class="text-right">
                                    <!-- div price  -->
                                    <div class="lang_price">
                                        <p class="landing_cost"><span class="price">AUD $1,250</span> </p>
                                        <span>for 1 night</span>
                                         <span class="landing_deposit">Includes taxes & fees</span>
                                         <a href="javascript:void(0)" data-toggle="popover" title="Price Details" data-content="{% partial 'site/price-detail' %}" class="room-more price-detail" >Price details <img class="icon-blue" src="{{ 'assets/images/icon-blue.png'|theme }}"/></a>
                                    </div>
                                    <button name="btnreserve" class="btn btn-primary btn-reserve mt-1 mb-1 d-none pull-right d-sm-block" data-toggle="modal" data-target="#reservationDetailmdodalCenter">Reserve</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button name="btnreserve" class="btn btn-reserve mt-3 mb-3 d-sm-none" data-toggle="modal" data-target="#reservationDetailmdodalCenter">Reserve</button>
                </div>
            </div>
            <div class="row room-detail-option">
                <div class="col-lg-6 d-flex flex-wrap align-content-center align-items-center">
                    
                </div>
                <div class="col-lg-6">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="box-convenient">
                            <div class="card-body ">
                                <h6>Option 2</h6>
                                <h6>Free cancellation  <img src="{{ 'assets/images/check_green.png'|theme }}" /><span>before Sat. 15 Mar. </span></h6>
                                <ul class = "list-unstyled list-item-feature">
                                     <li>
                                         <span class="note-img"><img srcset="{{ 'assets/images/amenity-icons/Internet@2x.png'|theme }} 2x" class="icon" /></span>
                                        <span class="card-content ">Free WiFi</span>
                                     </li>
                                     <li>
                                         <span class="note-img">
                                             <img srcset="{{ 'assets/images/amenity-icons/Plate@2x.png'|theme }} 2x" class="icon"/>
                                         </span>
                                        <span class="card-content ">Breakfast included </span>
                                     </li>
                                     <li>
                                     <span class="note-img">
                                          <img srcset="{{ 'assets/images/amenity-icons/Car@2x.png'|theme }} 2x" class="icon"/>
                                     </span>
                                      <span class="card-content ">Free self parking</span>
                                     </li>
                                 </ul>
                            </div>
                        </div>
                        <div class="box-price">
                            <div class="card-body  resever-blo">
                                <div class="text-right">
                                    <!-- div price  -->
                                    <div class="lang_price">
                                        <p class="landing_cost"><span class="price-cost">AU$2,600 </span><span class="price">AUD $1,250</span> </p>
                                        <span>for 1 night</span>
                                         <span class="landing_deposit">Includes taxes & fees</span>
                                         <span class="green_text d-none d-sm-block">Includes $500 refundable security bond</span>
                                        <a href="javascript:void(0)" data-toggle="popover" title="Price Details" data-content="{% partial 'site/price-detail' %}" class="room-more price-detail" >Price details <img class="icon-blue" src="{{ 'assets/images/icon-blue.png'|theme }}"/></a>
                                    </div>
                                    <button name="btnreserve" class="btn pull-right btn-primary btn-reserve mt-1 mb-1 d-none d-sm-block" data-toggle="modal" data-target="#reservationDetailmdodalCenter">Reserve</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button name="btnreserve" class="btn btn-reserve mt-3 mb-3 d-sm-none" data-toggle="modal" data-target="#reservationDetailmdodalCenter">Reserve</button>
                </div>
            </div>
        </div>
        <div class="room-detail ">
            <div class="row">
                <div class="col-lg-6 d-flex flex-wrap align-content-start align-items-center">
                    <img class="card-img img-fluid" src="https://app.viewretreats.net/storage/app/media/property/banner/image%209.png" alt="">
                    <div class="card-body d-flex d-sm-block align-content-center room-info justify-content-between">
                        <h5>4 Bedroom House</h5>
                        <ul class="d-none d-sm-block">
                            <li>Sleeps 2</li>
                            <li>30 sq m</li>
                            <li>1 Queen Bed</li>
                        </ul>
                        <a href="#" class="room-more" data-toggle="modal" data-target="#room1ModalCenter">Room details <img class="icon-blue" src="{{ 'assets/images/icon-blue.png'|theme }}" /></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box-price-option d-flex justify-content-between align-items-center">
                        <div class="box-convenient">
                            <div class="card-body ">
                                <p>Non-refundable <a class="non-refundable" href="javascript:void(0)" data-toggle="popover" title="Non-refundable rate" data-content="This special discounted rate is non-refundable. If you choose to change or cancel this booking you will not be refunded any of the payment."> <img src="{{ 'assets/images/info-active-white.png'|theme }}" width="18"/> </a> </p>
                            </div>
                        </div>
                        <div class="box-price">
                            <div class="card-body  resever-blo">
                                <div class="text-right">
                                      <div class="lang_price">
                                          <p class="landing_cost"><span class="price-cost">AU$2,600 </span><span class="price">AUD $1,250</span> </p>
                                          <span>for 1 night</span>
                                           <span class="landing_deposit">Includes taxes & fees</span>
                                           <span class="green_text d-none d-sm-block">Includes $500 refundable security bond</span>
                                           <a href="#" class="room-more" >Price details <img class="icon-blue" src="{{ 'assets/images/icon-blue.png'|theme }}"/></a>
                                      </div>
                                      <button name="btnreserve" class=" pull-right btn btn-primary btn-reserve mt-1 mb-1 d-none d-sm-block" data-toggle="modal" data-target="#reservationDetailmdodalCenter">Reserve</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button name="btnreserve" class="btn btn-reserve mt-3 mb-3 d-sm-none" data-toggle="modal" data-target="#reservationDetailmdodalCenter">Reserve</button>
                </div>
            </div>
        </div>
        <div class="room-detail ">
            <div class="row">
                <div class="col-lg-6 d-flex flex-wrap align-content-start align-items-center">
                    <img class="card-img img-fluid" src="https://app.viewretreats.net/storage/app/media/property/banner/image%209.png" alt="">
                    <div class="card-body d-flex d-sm-block align-content-center room-info justify-content-between">
                        <h5>4 Bedroom House</h5>
                        <ul class="d-none d-sm-block">
                            <li>Sleeps 2</li>
                            <li>30 sq m</li>
                            <li>1 Queen Bed</li>
                        </ul>
                        <a href="#" class="room-more" data-toggle="modal" data-target="#room1ModalCenter">Room details <img class="icon-blue" src="{{ 'assets/images/icon-blue.png'|theme }}" /></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box-price-option d-flex justify-content-between align-items-center">
                        <div class="box-convenient d-flex flex-wrap align-content-center align-items-center">
                            <div class="card-body ">
                                 <h6>Free cancellation  <img src="{{ 'assets/images/check_green.png'|theme }}" /><span>before Sat. 15 Mar. </span></h6>
                            </div>
                        </div>
                        <div class="box-price">
                            <div class="card-body  resever-blo">
                                <div class="text-right">
                                      <div class="lang_price">
                                          <p class="landing_cost"><span class="price">AUD $1,250</span> </p>
                                          <span>for 1 night</span>
                                           <span class="landing_deposit">Includes taxes & fees</span>
                                           <a href="#" class="room-more" >Price details <img class="icon-blue" src="{{ 'assets/images/icon-blue.png'|theme }}"/></a>
                                      </div>
                                      <button name="btnreserve" class="btn btn-primary btn-reserve mt-1 mb-1  pull-right d-none d-sm-block" data-toggle="modal" data-target="#reservationDetailmdodalCenter">Reserve</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button name="btnreserve" class="btn btn-reserve mt-3 mb-3 d-sm-none" data-toggle="modal" data-target="#reservationDetailmdodalCenter">Reserve</button>
                </div>
                
            </div>
        </div>
        <div class="modal fade room-popup" id="reservationDetailsModalCenter" tabindex="-1" role="dialog" aria-labelledby="reservationDetailsModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="room1ModalLongTitle">Select your payment option</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                  </div>
                  <div class="modal-body">
                      <div class="box-reservation">
                          <div class="item-reservation">
                              <h4>Pay the total now</h4>
                              <div class="d-flex justify-content-between">
                                  <ul class="list-unstyled">
                                     <li><span class="card-content ">Complete your payment immediately online</span></li>
                                     <li><span class="card-content ">You will pay in your local currency (AUD) </span></li>
                                     <li><span class="card-content ">We will process your payment </span></li>
                                 </ul>
                                 <div class="item-action d-flex justify-content-end text-right flex-column ">
                                     <h3>AU$2,250</h3>
                                     <small>for 2 nights</small>
                                     <a href="javascript:void()" class="btn btn-reserve">Pay now</a>
                                 </div>
                              </div>
                          </div>
                          <div class="item-reservation">
                              <h4>Pay when you stay</h4>
                              <div class="d-flex justify-content-between">
                                  <ul class="list-unstyled">
                                     <li><span class="card-content ">You will not be charged until your stay</span></li>
                                     <li><span class="card-content ">You will pay in the property’s local currency (AUD)</span></li>
                                     <li><span class="card-content ">The property will process your payment</span></li>
                                 </ul>
                                 <div class="item-action d-flex justify-content-end text-right flex-column">
                                     <h3>AU$2,250</h3>
                                     <small>for 2 nights</small>
                                     <a href="javascript:void()" class="btn btn-reserve">Pay at property</a>
                                 </div>
                              </div>
                          </div>
                      </div>
                      
                  </div>
                </div>
            </div>
        </div>
        <div class="modal fade room-detail-popup" id="room1ModalCenter" tabindex="-1" role="dialog" aria-labelledby="room1ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="room1ModalLongTitle">Room Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                  </div>
                  
                  <div class="modal-body">
                      <div class="img-room">
                          <img class="card-img img-fluid" src="{{ 'assets/images/resort1.png'|theme }}" alt="">
                      </div>
                      <div class="card-body flex-wrap align-content-start room-info carousel-title">
                            <h4 class="card-title mb-1">Ocean Suite</h4>
                            <h6 class="card-subtitle mb-2 d-flex justify-content-start align-items-center"><img src="{{ 'assets/images/user-two.png'|theme }}" alt="" class="mr-2"> <b class="mt-1">Maximum Guests</b></h6>
                            <p>Sleeps 2 people (including up to 1 child)</p>
                            <h6 class="card-subtitle mt-4 mb-3 d-flex justify-content-start align-items-center"><img src="{{ 'assets/images/path1393.png'|theme }}" alt="" class="mr-2" width="28"> <b class="mt-1">Room Details</b></h6>
                            <p><b>1 King Bed</b></p>
                            <p class="card-des mb-0">52 square metre room with pool views</p>
                        </div>
                        <div class="card-body">
                            <p><b>Internet</b> - Free WiFi</p>
                            <p><b>Entertainment</b> - LCD TV with premium channels</p>
                            <p><b>Food & Drink</b> - Fridge, minibar, espresso maker and 24 hr room service</p>
                            <p><b>Sleep</b> - Premium bedding, blackout drapes/curtains</p>
                            <p><b>Bathroom</b> - Private bathroom, shower, slippers and free toiletries</p>
                            <p><b>Practical</b> - Laptop-compatible safe, iron/ironing board, desk</p>
                            <p><b>Comfort</b> - Climate controlled air conditioning and daily housekeeping</p>
                            <p><b>Need to know</b> - No rollaway/extra beds available</p>
                        </div>
                        <div class="list-rooms">
                            <div class="room-detail">
                                <div class="row">
                                    <div class="col-6 d-flex flex-wrap align-content-start flex-column align-items-start">
                                        <div class="card-body ">
                                            <h6>Option 1</h6>
                                            <p  >Non-refundable <a class="non-refundable" href="javascript:void(0)" data-toggle="popover" title="Non-refundable rate" data-content="This special discounted rate is non-refundable. If you choose to change or cancel this booking you will not be refunded any of the payment."> <img src="{{ 'assets/images/info-active-white.png'|theme }}" width="18"/> </a></p>
                                            <ul class = "list-unstyled list-item-feature">
                                                 <li>
                                                     <span class="note-img">
                                                         <img src="{{ 'assets/images/start-black.png'|theme }}" class="img-start" />
                                                     </span>
                                                     
                                                    <span class="card-content "><a href="#"><ins>Special Offer</ins> </a></span>
                                                 </li>
                                                 <li>
                                                     <span class="note-img"><img srcset="{{ 'assets/images/amenity-icons/Internet@2x.png'|theme }} 2x" class="icon" /></span>
                                                    <span class="card-content ">Free WiFi</span>
                                                 </li>
                                                 <li>
                                                     <span class="note-img">
                                                         <img srcset="{{ 'assets/images/amenity-icons/Plate@2x.png'|theme }} 2x" class="icon"/>
                                                     </span>
                                                    <span class="card-content ">Breakfast included </span>
                                                 </li>
                                                 <li>
                                                 <span class="note-img">
                                                      <img srcset="{{ 'assets/images/amenity-icons/Car@2x.png'|theme }} 2x" class="icon"/>
                                                 </span>
                                                  <span class="card-content ">Free self parking</span>
                                                 </li>
                                             </ul>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card-body resever-blo">
                                            <div class="text-right">
                                                <!-- div price  -->
                                                <div class="lang_price">
                                                    <p class="landing_cost"><span class="price">AUD $1,250</span> </p>
                                                    <span>for 1 night</span>
                                                     <span class="landing_deposit">Includes taxes & fees</span>
                                                     
                                                     <a href="javascript:void(0)" data-toggle="popover" title="Price Details" data-content="{% partial 'site/price-detail' %}" class="room-more price-detail" >Price details <img class="icon-blue" src="{{ 'assets/images/icon-blue.png'|theme }}"/></a>
                                                </div>
                                                <button name="btnreserve" class="btn btn-reserve mt-1 mb-1 d-none d-sm-block pull-right" data-toggle="modal" data-target="#reservationDetailmdodalCenter">Reserve</button>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-12">
                                         <button name="btnreserve" class="btn btn-reserve mt-3 mb-3 d-sm-none " data-toggle="modal" data-target="#reservationDetailmdodalCenter">Reserve</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 d-flex flex-wrap align-content-start flex-column align-items-start">
                                        <div class="card-body ">
                                            <h6>Option 2</h6>
                                            <h6>Free cancellation  <img src="{{ 'assets/images/check_green.png'|theme }}" /><span>before Sat. 15 Mar. </span></h6>
                                            <ul class = "list-unstyled list-item-feature">
                                                 <li>
                                                     <span class="note-img"><img srcset="{{ 'assets/images/amenity-icons/Internet@2x.png'|theme }} 2x" class="icon" /></span>
                                                    <span class="card-content ">Free WiFi</span>
                                                 </li>
                                                 <li>
                                                     <span class="note-img">
                                                         <img srcset="{{ 'assets/images/amenity-icons/Plate@2x.png'|theme }} 2x" class="icon"/>
                                                     </span>
                                                    <span class="card-content ">Breakfast included </span>
                                                 </li>
                                                 <li>
                                                 <span class="note-img">
                                                      <img srcset="{{ 'assets/images/amenity-icons/Car@2x.png'|theme }} 2x" class="icon"/>
                                                 </span>
                                                  <span class="card-content ">Free self parking</span>
                                                 </li>
                                             </ul>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card-body  resever-blo">
                                            <div class="text-right">
                                                <!-- div price  -->
                                                <div class="lang_price">
                                                    <p class="landing_cost"><span class="price-cost">AU$2,600 </span><span class="price">AUD $1,250</span> </p>
                                                    <span>for 1 night</span>
                                                     <span class="landing_deposit">Includes taxes & fees</span>
                                                     
                                                    <a href="javascript:void(0)" data-toggle="popover" title="Price Details" data-content="{% partial 'site/price-detail' %}" class="room-more price-detail" >Price details <img class="icon-blue" src="{{ 'assets/images/icon-blue.png'|theme }}"/></a>
                                                </div>
                                                <button name="btnreserve" class="btn btn-reserve mt-1 mb-1 d-none d-sm-block pull-right" data-toggle="modal" data-target="#reservationDetailmdodalCenter">Reserve</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                         <button name="btnreserve" class="btn btn-reserve mt-3 mb-3 d-sm-none " data-toggle="modal" data-target="#reservationDetailmdodalCenter">Reserve</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>