==
<div class="retrieve-itenerary-container"> 
	<div class="form-email-login form-signup"  id="page-form-retrieve-itenerary" style="padding-bottom: 200px;">
		<h3 class="social-login-text">Retrieve your itinerary</h3>
		<p>Enter your email address. If you have a current booking, we’ll send you a copy of your itinerary.</p>
		<div class="form-group">
		   <input type="email" id="login-by-email-itinerary" name="login" class="form-control" placeholder="Email">
		</div>
		<div class="form-group">
		     <button type="button" class="login-button" id="retrieve-itinerary-submit-button">Submit</button>
		</div>
	</div>
	<div class="signup-terms">
        <p class="modal-bottom"> By submitting your details you agree that you have read and accept our <a href="/terms#privacy-policy" target="_blank">privacy policy</a> & <a href="{{ 'terms'|page }}" target="_blank" >terms of service</a></p>
    </div>
</div>