==
{{ form_open({ url: '/search', class: "form-search" }) }}
  <div class="search-bar search-main">
      <div class="container page-container">
        <div class="search-block">
          <div class="search-left float-left">
            <input type="search" rel=comments name="txtsearch" autocomplete="off" placeholder="Destination or property" class="typeahead txtsearch-nav" id="txtsearch" />
            
            <!-- <select id="select_proj" style="width:10em" name="selsearch" class="js-example-data-array">
              <option value="" selected="selected">Search</option>
            </select> -->
            <input type="text" name="txtcal-search-block" id="txtcal-search-block" autocomplete="off" placeholder="Check in - Check out" class="txtcal-search-block" />
            <input type="text" rel=comments name="txtguests-search-block" class="txtguests" autocomplete="off" placeholder="1 room, 2 guests" id="txtguests" >
            <input type="hidden" name="txttotalguests" id="txttotalguests" value="2" />
            <input type="hidden" name="txtadults" id="txtadults" value="2" />
            <input type="hidden" name="txtchildren" id="txtchildren" />
            <input type="hidden" name="txtroom" id="txtroom" value="1"/>
            <div id="addedrooms" style="display: none !important;">
              <div class="room_block" id="room_item_1">
                <input type="hidden" name="adults_item_1" id="adults_item_1" value="2" />
                <input type="hidden" name="child_item_1" id="child_item_1"/>
                <div id="children_item_1">
                </div>
              </div>

            </div>
            
          </div>
          <div class="search-right float-left">
            <button name="btnsearch" class="btn btn-search"><span class="text-search">Search</span><span class="text-profile">Check rates</span></button>
          </div>
          <div id="popover_template_search">
            <div class="search_location">
                <ul class="search_location_ul" id="location-list">
                    <li id='li_a1' class="search_location_li search_location_li_provin" onclick="ClickName()" data-name="Location Name, State, Country">Location Name, State, Country</li>
                    <li id='li_a2' class="search_location_li search_location_li_country">Property Name, Town, State, Country</li>
                    <li id='li_a3' class="search_location_li search_location_li_provin ">Location Name, State, Country</li>
                    <li id='li_a4' class="search_location_li search_location_li_country">Property Name, Town, State, Country</li>
                    <li id='li_a5' class="search_location_li search_location_li_provin ">Location Name, State, Country</li>
                    <li id='li_a6' class="search_location_li search_location_li_country">Property Name, Town, State, Country</li>
                    <li id='li_a7' class="search_location_li search_location_li_provin ">Location Name, State, Country</li>
                    <li id='li_a8' class="search_location_li search_location_li_country">Property Name, Town, State, Country</li>
                    <li id='li_a9' class="search_location_li search_location_li_provin ">Location Name, State, Country</li>
                </ul>
            </div>
        </div>
        <div id="popover_template">
            <div class="room-list">
                <div class="room-item" id="item_1">
                    <h5 >Room <span id="name_1">1</span> <span class="remove" >Remove</span></h5>
                    <div class='guests-popup'>
                      <div class='text'>Adults</div>
                      <div class="cal-info">
                          <div class='btn-minus btn-minus-a'><img src='{{ 'assets/images/minus-guest.png'|theme }}' /></div>
                          <div class='total total-adult'>2</div>
                          <div class='btn-plus btn-plus-a'><img src='{{ 'assets/images/plus-guest.png'|theme }}' /></div>
                      </div>
                    </div>
                    <div class='guests-popup pt-1'>
                      <div class='text'>Children <span>(aged 0-17)</span></div>
                      <div class="cal-info">
                          <div class='btn-minus btn-minus-c'><img src='{{ 'assets/images/minus-guest.png'|theme }}' /></div>
                          <div class='total total-children'>0</div>
                          <div class='btn-plus btn-plus-c'><img src='{{ 'assets/images/plus-guest.png'|theme }}' /></div>
                        </div>
                    </div>
                    
                    <div class='infants-popup' >
                     
                    </div>
                </div>
            </div>
            <div onclick="ClickAddRoom()" id="btn-add-room">+  Add another room</div>
        </div>
        </div>
      </div>
    </div>
    </div>
{{ form_close() }}

<!-- nav bg -->