==
<div class="signin-container">
	{{ form_ajax('onSignin', { class: 'page-form-login' }) }}
		<div class="form-email-login form-signup"  id="page-form-login-email">
			<h3 class="social-login-text">Sign in</h3>
			<p>Login to your View Retreats account to manage your details & access exclusive offers</p>
			<div class="form-group">
			   <input type="email" id="page-login-by-email" name="login" class="form-control" placeholder="Email">
			</div>
			<div class="form-group">
			     <button type="button" class="login-button" id="page-login-button">Next</button>
			</div>
			<div class="login-social">
				<h5 class="title-social"><span>or sign in with one click</span></h5>
				<div class="box-social d-flex justify-content-between align-items-center flex-row">
				    {% for name, link in social_login_links %}
				        
				        {% if name == 'Google' %}
				           <div class="item-social text-center mr-2">
				                <a href="{{ link }}?s={{ 'favourites'|page }}&f={{ 'wishlist-logout'|page }}">
				                    <img src="{{ '/assets/images/gg1.png'|theme }}" alt="{{ name }}">
				                    <span>Google</span>
				                </a>
				            </div>
				        {% endif %}
				        
				        {% if name == 'Facebook' %}
				           <div class="item-social text-center ml-2">
				                <a href="{{ link }}?s={{ 'wishlist-login'|page }}&f={{ 'wishlist-logout'|page }}">
				                    <img src="{{ '/assets/images/fb.png'|theme }}" alt="{{ name }}">
				                    <span>Facebook</span>
				                </a>
				            </div>
				        {% endif %}
				    {% endfor %}
				</div>
				<p class="text-center">Don’t have an account yet? <a href="#" id="id-signup-popup" data-target="#sign-up-modal" data-dismiss="modal" data-toggle="modal">Sign up</a></p>
			</div>
		</div>
        <div class="form-email-login form-signup" id="page-form-login-password">
            <h3 class="social-login-text">Password</h3>
            <p>Please enter your View Retreats password for <strong class="page-email-show-login"></strong></p>
            <div class="form-group">
               <input type="password" id="page-loginmodal-by-password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                 <button type="submit" class="login-button" >Sign in</button>
            </div>
            <div class="login-social">
                <h5 class="title-social"><span>or sign in with one click</span></h5>
                <div class="box-social d-flex justify-content-between align-items-center flex-row">
                    {% for name, link in social_login_links %}
                        
                        {% if name == 'Google' %}
                           <div class="item-social text-center mr-2">
                                <a href="{{ link }}?s={{ 'favourites'|page }}&f={{ 'wishlist-logout'|page }}">
                                    <img src="{{ '/assets/images/gg1.png'|theme }}" alt="{{ name }}">
                                    <span>Google</span>
                                </a>
                            </div>
                        {% endif %}
                        
                        {% if name == 'Facebook' %}
                           <div class="item-social text-center ml-2">
                                <a href="{{ link }}?s='/favourites'&f={{ 'wishlist-logout'|page }}">
                                    <img src="{{ '/assets/images/fb.png'|theme }}" alt="{{ name }}">
                                    <span>Facebook</span>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                     <!--  <div class="item-social text-center">
                       <a href="#">
                           <img src="{{ '/assets/images/apple1.png'|theme }}" alt="Apple">
                           <span>Apple</span>
                       </a>
                                             </div> -->
                </div>
                <p class="text-center"><a href="{{ 'forgot-password'|page }}">Forgotten your password?</a></p>
            </div>
        </div>
    {{ form_close() }}
	<div class="signup-terms">
        <p class="modal-bottom"> By submitting your details you agree that you have read and accept our <a href="/terms#privacy-policy" target="_blank">privacy policy</a> & <a href="{{ 'terms'|page }}" target="_blank" >terms of service</a></p>
    </div>
</div>